<div class="enrollmentList">
    <h2>Listed Enrollment:</h2>
    <table class="table">
        <thead>
        <th ng-repeat="header in $ctrl.headers">{{ header }}</th>
        </thead>
        <tbody>
        <tr data-ng-repeat="enrollment in $ctrl.enrollments">
            <td>{{ enrollment.child_first_name }}</td>
            <td>{{ enrollment.child_last_name }}</td>
            <td>{{ enrollment.parent_first_name }}</td>
            <td>{{ enrollment.parent_first_name }}</td>
            <td>{{ enrollment.email }}</td>
            <td>{{ enrollment.program }}</td>
            <td>{{ enrollment.status }}</td>
        </tr>
        </tbody>
    </table>
</div>