<div class="programHeader" ng-click="isPageInstructionsOpen = !isPageInstructionsOpen"><b>Your Profile</b> <sup><i class="fa fa-question-circle fa-lg"></i></sup></div>
	<span class="pageInstructions" ng-show="isPageInstructionsOpen" id="pageInstructions"><i class="fa fa-caret-up fa-3"></i> &nbsp; Edit your profile to update your contact and account information.</span>
<div class="programsContainer">	
    <div class="programsDiv">
		  <div class="well well-sm">


<!-- <div class="profileFormContainer">
	<div class="profileFormHeader"> -->
		<h2 class="profile-title">Edit Your Profile</h2>
	</div>
	<!-- <div class="profileFormBody"> -->
    <div class="col-centered">
        <form id="profileForm" name="profileForm" role="form" class="well">
            <div class="">
                <div class="form-group">
										<label class="control-label" for="firstName">First Name:</label>
                    <div class="input-group">
											<span class="input-group-addon"><i class="fa fa-user-o fa-lg"></i></span><input type="text" class="form-control" id="firstName" name="firstName" required="true"
                           ng-model="$ctrl.profile.first_name">
										 </div>
									 </div>
									 <div class="form-group">
	                  <label class="control-label" for="lastName">Last Name:</label>
                    <div class="input-group">
											<span class="input-group-addon"><i class="fa fa-user-o fa-lg"></i></span><input type="text" class="form-control" id="lastName" name="lastName" required="true" ng-model="$ctrl.profile.last_name">
										</div>
                </div>
                <div class="form-group"  ng-class="{ 'has-error' : (profileForm.email.$dirty && profileForm.email.$invalid) || $ctrl.emailError }">
                    <label class="control-label" for="email">Email:</label>
                    <div class="input-group">
											<span class="input-group-addon"><i class="fa fa-envelope fa-lg"></i></span><input type="email" class="form-control" id="email" name="email" required="true"
                           ng-model="$ctrl.profile.email"  ng-change="$ctrl.validateEmail()">
										 </div>
                    <span style="color:red" ng-show="(profileForm.email.$dirty && profileForm.email.$invalid) || $ctrl.emailError">
                        <span ng-show="profileForm.email.$error.required">Email is required.</span>
                        <span ng-show="profileForm.email.$error.email">Invalid email address.</span>
                        <span ng-show="$ctrl.emailError">Email address already used.</span>
                    </span>
                </div>
              <div class="form-group" >
                    <a ng-click="showChangePassword = ! showChangePassword" ng-show="!showChangePassword">Change Password?</a>
                    <a ng-click="showChangePassword = ! showChangePassword" ng-show="showChangePassword">Nevermind, don't change password</a>
                </div>
                <div class="form-group pwChange"  ng-class="{ 'has-error' : profileForm.currentPassword.$error.required}" ng-show="showChangePassword">
                    <label class="control-label" for="currentPassword">Current Password:</label>
                    <div class="input-group">
											<span class="input-group-addon"><i class="fa fa-lock fa-lg"></i></span><input type="password" class="form-control" id="currentPassword" name="currentPassword"
                           ng-model="$ctrl.profile.currentPassword" ng-required='$ctrl.profile.newPassword.length>0 && showChangePassword'>
										 </div>
                      <span style="color:red" ng-show="$ctrl.currentPasswordError">
                            Current password is incorrect.
                    </span>

                    <span style="color:red" ng-show="profileForm.currentPassword.$error.required">
                        <span ng-show="profileForm.currentPassword.$error.required">Current password is required if entering new password.</span>
                    </span>
                </div>
                <div class="form-group pwChange" ng-class="{ 'has-error' : profileForm.newPassword.$error.required}" ng-show="showChangePassword">
                    <label class="control-label" for="newPassword">New Password:</label>
                    <div class="input-group">
											<span class="input-group-addon"><i class="fa fa-lock fa-lg"></i></span><input type="password"  uib-tooltip-html="htmlTooltip" class="form-control" id="newPassword" name="newPassword"
                           ng-model="$ctrl.profile.newPassword"  ng-required='$ctrl.profile.currentPassword.length>0 && showChangePassword' ng-model-options="{allowInvalid: true}" pattern-validator="((?=.*\d)(?=.*[A-Z])(?=.*\W).{8,8})">

                    </div>
                    <password-strength ng-model="$ctrl.profile.newPassword"></password-strength>
                     <span style="color:red" ng-show="profileForm.newPassword.$error.required">
                        <span ng-show="profileForm.newPassword.$error.required">New password is required if entering current password.</span>
                    </span>
                </div>
                <div class="form-group">
                    <label class="control-label" for="phone">Phone:</label>
                    <div class="input-group">
											<span class="input-group-addon"><i class="fa fa-phone fa-lg"></i></span><input type="text" class="form-control" id="phone" name="phone"  ng-model="$ctrl.profile.phone">
										</div>
                </div><div>
                </div>
            </div>
		        </form>
						<div class="formActions">
								<button type="button" class="btn btn-default btn-lg pull-right joobali" ng-click="$ctrl.saveProfile()" ng-disabled="(profileForm.email.$dirty && profileForm.email.$invalid) ||$ctrl.disableSave||profileForm.$invalid||profileForm.$pristine">Update &raquo;</button>
						</div> <!-- end formActions -->
    </div>
<!-- </div></div> --></div></div>