<div>
    <div class="col-centered programOverviewForm">
        <form id="profileForm" role="form" class="well">
            <h2>Edit Profile {{ test }} :</h2>
            <div class="">
                <div class="form-group">
                    <label class="control-label" for="schoolName">School Name:</label>
                    <input type="text" class="form-control" id="schoolName" name="schoolName" required="true"
                           ng-model="$ctrl.profile.schoolName">
                </div>

            </div>
            <div class="buttonDiv">
                <button type="button" class="btn btn-primary btn-lg"
                        ng-click="$ctrl.saveProfile()">Save
                </button>
            </div>

        </form>

    </div>
</div>