<div class="verifyHeader" ng-click="isPageInstructionsOpen = !isPageInstructionsOpen"><b>Account Status: {{ $ctrl.profile.dwolla_status }}</b> <sup><i class="fa fa-question-circle fa-lg"></i></sup></div>
	<span class="pageInstructions" ng-show="isPageInstructionsOpen" id="pageInstructions"><i class="fa fa-caret-up fa-3"></i> Provide more information to become a verified user. </span>
<div class="verifyContainer">
    <div class="verifyDiv">
		  <div class="well well-sm">
				
				
<!-- <div class="profileFormContainer" >
	<div class="profileFormHeader"> -->
		<h2 class="profile-title">Provide more information to become a verified user.</h2>
	</div>
	<!-- <div class="profileFormBody"> -->
    <div class="col-centered">
        <form id="verifyForm" name="verifyForm" role="form" class="well" enctype="multipart/form-data">
            <div class="verifyContent">
                <div class="form-group">
										<label class="control-label" for="firstName">First Name:</label>
                    <div class="input-group">
											<span class="input-group-addon"><i class="fa fa-user-o fa-lg"></i></span><input type="text" class="form-control dwolla-verify" id="firstName" name="firstName" ng-required="true"
                           ng-model="$ctrl.profile.firstName">
										 </div>
                 </div>
                 <div class="form-group">
	                  <label class="control-label" for="lastName">Last Name:</label>
                    <div class="input-group">
											<span class="input-group-addon"><i class="fa fa-user-o fa-lg"></i></span><input type="text" class="form-control dwolla-verify" id="lastName" name="lastName" ng-required="true" ng-model="$ctrl.profile.lastName">
										</div>
                </div>
                <div class="form-group"  ng-class="{ 'has-error' : (profileForm.email.$dirty && profileForm.email.$invalid) || $ctrl.emailError }">
                    <label class="control-label" for="email">Email:</label>
                    <div class="input-group">
											<span class="input-group-addon"><i class="fa fa-envelope fa-lg"></i></span><input type="email" class="form-control dwolla-verify" id="email" name="email" ng-required="true"
                           ng-model="$ctrl.profile.email"  ng-change="$ctrl.validateEmail()">
										 </div>
                    <span style="color:red" ng-show="(profileForm.email.$dirty && profileForm.email.$invalid) || $ctrl.emailError">
                        <span ng-show="profileForm.email.$error.required">Email is required.</span>
                        <span ng-show="profileForm.email.$error.email">Invalid email address.</span>
                        <span ng-show="$ctrl.emailError">Email address already in use.</span>
                    </span>
                </div>
                <div class="form-group">
                    <label class="control-label" for="addressLine1">Address Line 1:</label>
                    <div class="input-group">
											<span class="input-group-addon"><i class="fa fa-phone fa-lg"></i></span><input type="text" class="form-control dwolla-verify" id="addressLine1" name="addressLine1" ng-required="false" ng-model="$ctrl.profile.addressLine1">
										</div>
                </div>
                <div class="form-group">
                    <label class="control-label" for="addressLine2">Address Line 2 (optional):</label>
                    <div class="input-group">
											<span class="input-group-addon"><i class="fa fa-phone fa-lg"></i></span><input type="text" class="form-control" id="addressLine2" name="addressLine2" ng-required="false" ng-model="$ctrl.profile.addressLine2">
										</div>
                </div>
                <div class="form-group">
                    <label class="control-label" for="city">City:</label>
                    <div class="input-group">
											<span class="input-group-addon"><i class="fa fa-phone fa-lg"></i></span><input type="text" class="form-control dwolla-verify" id="city" name="city" ng-required="false" ng-model="$ctrl.profile.city">
										</div>
                </div>
                <div class="form-group">
                    <label class="control-label" for="state">State:</label>
                    <div class="input-group">
											<span class="input-group-addon"><i class="fa fa-phone fa-lg"></i></span>
                        <select type="text" class="form-control dwolla-verify" id="state" name="state" ng-required="false" ng-model="$ctrl.profile.state">
                        	    <option value="AL">Alabama</option>
                                <option value="AK">Alaska</option>
                                <option value="AZ">Arizona</option>
                                <option value="AR">Arkansas</option>
                                <option value="CA">California</option>
                                <option value="CO">Colorado</option>
                                <option value="CT">Connecticut</option>
                                <option value="DE">Delaware</option>
                                <option value="DC">District Of Columbia</option>
                                <option value="FL">Florida</option>
                                <option value="GA">Georgia</option>
                                <option value="HI">Hawaii</option>
                                <option value="ID">Idaho</option>
                                <option value="IL">Illinois</option>
                                <option value="IN">Indiana</option>
                                <option value="IA">Iowa</option>
                                <option value="KS">Kansas</option>
                                <option value="KY">Kentucky</option>
                                <option value="LA">Louisiana</option>
                                <option value="ME">Maine</option>
                                <option value="MD">Maryland</option>
                                <option value="MA">Massachusetts</option>
                                <option value="MI">Michigan</option>
                                <option value="MN">Minnesota</option>
                                <option value="MS">Mississippi</option>
                                <option value="MO">Missouri</option>
                                <option value="MT">Montana</option>
                                <option value="NE">Nebraska</option>
                                <option value="NV">Nevada</option>
                                <option value="NH">New Hampshire</option>
                                <option value="NJ">New Jersey</option>
                                <option value="NM">New Mexico</option>
                                <option value="NY">New York</option>
                                <option value="NC">North Carolina</option>
                                <option value="ND">North Dakota</option>
                                <option value="OH">Ohio</option>
                                <option value="OK">Oklahoma</option>
                                <option value="OR">Oregon</option>
                                <option value="PA">Pennsylvania</option>
                                <option value="RI">Rhode Island</option>
                                <option value="SC">South Carolina</option>
                                <option value="SD">South Dakota</option>
                                <option value="TN">Tennessee</option>
                                <option value="TX">Texas</option>
                                <option value="UT">Utah</option>
                                <option value="VT">Vermont</option>
                                <option value="VA">Virginia</option>
                                <option value="WA">Washington</option>
                                <option value="WV">West Virginia</option>
                                <option value="WI">Wisconsin</option>
                                <option value="WY">Wyoming</option>
                        </select>
										</div>
                </div>
                <div class="form-group">
                    <label class="control-label" for="zipcode">Zipcode:</label>
                    <div class="input-group">
											<span class="input-group-addon"><i class="fa fa-phone fa-lg"></i></span><input type="number" class="form-control dwolla-verify" id="zipcode" name="zipcode" ng-required="false" ng-model="$ctrl.profile.zipcode">
										</div>
                </div>
                <div class="form-group">
                    <label class="control-label" for="dateOfBirth">Date of Birth <small>(MM/DD/YYYY)</small>:</label>
                    <div class="input-group">
											<span class="input-group-addon"><i class="fa fa-id-card fa-lg" aria-hidden="true"></i></span>
                        <input id="dateOfBirth" name="dateOfBirth"
                               type="text" class="form-control dwolla-verify"
                               datepicker-popup-template-url="/static/home/datepicker.template.html"
                               uib-datepicker-popup="MM/dd/yyyy"
                               datepicker-options="{maxDate: $ctrl.today}"
                               ng-model="$ctrl.profile.dateOfBirth"
                               is-open="$ctrl.dateOfBirthPickerOpened"
                               ng-required="false"
                               ng-click="$ctrl.openDateOfBirthPicker()"
                               close-text="Close"/>
                    </div>
                </div>
                <div class="form-group" ng-class="{ 'has-error' : profileForm.ssn.$invalid && !profileForm.ssn.$pristine }">
                    <label class="control-label" for="ssn">Last 4 digits of SSN:</label>
                    <div class="input-group">
											<span class="input-group-addon"><i class="fa fa-id-card fa-lg" aria-hidden="true"></i></span><input type="number" ng-minlength="4" ng-maxlength="4" ng-pattern="/^[0-9]*$/" class="form-control dwolla-verify" id="ssn" name="ssn" ng-required="false"
                           ng-model="$ctrl.profile.ssn">
                    </div>
                </div>

                <div class="form-group">
                    <label ng-hide="$ctrl.profile.docName"  class="control-label" for="verification_doc">Photo ID Upload:</label>
                    <div ng-hide="$ctrl.profile.docName" class="input-group">
											<span class="input-group-addon"><i class="fa fa-file-image-o fa-lg"></i></span><input type="file" demo-file-model="$ctrl.profile.doc"  class="form-control" name="doc" id="verification_doc">
										 </div>
                    <label ng-show="$ctrl.profile.docName"  class="control-label" for="verification_doc">Photo ID Uploaded and Under Review...</label>
                     <div ng-show="$ctrl.profile.docName">
                         <a ng-click="$ctrl.deleteDoc()">Delete Doc</a>
                     </div>
                </div>
            </div>
		        </form>
						<div class="formActions">
								<button type="button" class="btn btn-default btn-lg pull-right joobali" ng-click="$ctrl.dwollaVerify(true)" ng-disabled="(verifyForm.email.$dirty && verifyForm.email.$invalid)||verifyForm.$invalid">Verify &raquo;</button>
						</div> <!-- end formActions -->
    </div>
<!-- </div></div> --></div></div>