<div class="helpCenterFormContainer" >
	<div class="helpCenterFormHeader">
		<h2 class="profile-title">Help Center</h2>
	</div>
	<div class="helpCenterFormBody">
    <div class="col-centered">
        <div ng-show="!$ctrl.help.sent">
        <form id="helpCenterForm" name="helpCenterForm" role="form" class="well" >
            <div class="">
                <div class="form-group">
                    <label class="control-label" for="comments">Question/Comments:</label>
                    <div class="input-group">
                        <textarea class="form-control" id="comments" name="comments" ng-required="true" rows="5" cols="70"
	                           ng-model="$ctrl.help.comments"/>
                                                <i>For technical support, please add exact steps that produced the problem.</i>
                        <div>
                        <button type="button" class="btn btn-default btn-lg pull-right joobali" ng-click="$ctrl.sendComments()" ng-disabled="helpCenterForm.$invalid">Send &raquo;</button>
</div>
                        </div>
                </div>

            </div>
		        </form>
        </div>
        <div ng-show="$ctrl.help.sent">
            <br>
            Question or comment has been. If it's a question, a member of our staff will contact you shortly.

        </div>

        <hr>
        <h3>FAQ</h3>
        <ol>
          <li>How do I?</li>
          <li>How do I?</li>
        </ol>
    </div>
	</div>
</div>
