<!DOCTYPE html>
<html lang="en" ng-app=''>
<head>
  <title>Joobali - Care for You</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="shortcut icon" type="image/png" href="{{STATIC_URL}}home/pics/favicon.ico"/>

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
	<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
  <link rel="stylesheet" href="{{ STATIC_URL }}home/style.css" />




   <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
	<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.min.js"></script>
  <script src="{{ STATIC_URL }}home/script.js"></script>

</head>

<script>
    $(document).ready(function () {
			$('a[href^="#"]').on('click', function (e) {
				e.preventDefault();
				
				var target = this.hash;
				var $target = $(target);
				
				$('html, body').stop().animate({
					'scrollTop': $target.offset().top
				}, 900, 'swing', function (){
					window.location.hash = target;
				})				
			})
    });
</script>
		
<body id="myPage">
	<nav class="navbar navbar-default navbar-fixed-top">
	  <div class="container">
	    <div class="navbar-header">
	      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
	        <span class="icon-bar"></span>
	        <span class="icon-bar"></span>
	        <span class="icon-bar"></span>
	      </button>
						 <a class="logoLink" href="/home"><img src="{{ STATIC_URL }}home/pics/logo/img_navbarLogo.png" class="navbarHeaderLogo" alt="Logo" width="98" height="36"></a>					 
	&nbsp; 
			</div>
	    <div class="collapse navbar-collapse" id="myNavbar">
	      <ul class="nav navbar-nav navbar-right">
					{% if loggedIn %}
					<li><a href="/home/dashboard"><i class="fa fa-dashboard fa-lg"></i>&nbsp; Dashboard</a></li>
          <li class="dropdown">
              <a class="dropdown-toggle" data-toggle="dropdown">
                  {{ email }}
                  <span class="caret"></span>
              </a>
              <ul class="dropdown-menu">
				<!-- <li><a href="/home/dashboard">Dashboard</a></li> -->
                  <li><a href="/home/dashboard#!/profile">Profile</a></li>

                <li><a href="/login/logout"><span class="glyphicon glyphicon-log-out"></span>Log Out</a></li>
              </ul>
          </li>
        {% else %}
          <li><a href="/login"><span class="glyphicon glyphicon-log-in"></span>Log In</a></li>
          <li><a href="/login/signup"><span class="glyphicon glyphicon-user"></span>Sign Up</a></li>
        {% endif %}
	      </ul>
	    </div> <!-- end .#myNavbar -->
		</div> <!-- end .container -->
	</nav>

	<div class="jumbotron text-center">
        <div class="row">
					<div class="col-sm-1 text-center">&nbsp;</div>
					<div class="col-sm-10 text-center">
						<img src="{{ STATIC_URL }}home/pics/logo/img_joobaliMainLogo.png" alt="Logo" width="500" height="200" class="logo">
					</div>
					<div class="col-sm-1 text-center">&nbsp;</div>
				</div>
				<br><br>
				<div class="row">
					<div class="col-sm-1 text-center">&nbsp;</div>
					<div class="col-sm-10 text-center">
						<a href="http://joobali.providerform.sgizmo.com/s3/ "  class="btn btn-success" target="_blank">Child Care Providers</a>
							<a href="http://joobali.newparentform.sgizmo.com/s3/ " class="btn btn-success" target="_blank">Parents</a>
								<a href="http://joobali.alumniclub.sgizmo.com/s3/ "  class="btn btn-success" target="_blank">Alumni Club</a>


						<br><br>
						<span style="color:#70ABA7;">It's Free</span>
					</div>
					<div class="col-sm-1 text-center">&nbsp;</div>
  <!-- <form class="form-inline">
    <input type="text" class="form-control" size="50" placeholder="Search for ...">
    <button type="button" class="btn btn-danger">Search</button>
  </form> -->
				</div>
</div>

	<div class="container-fluid elevPitch1" id="icons">
		<div class="row downArrow">
			<div class="col-sm-2 text-center">&nbsp;</div>
			<div class="col-sm-8 text-center"><a href="#icons"><img src="{{ STATIC_URL }}home/pics/btn_down.png" alt="scroll down button" width="30" height="20"></a></div>
			<div class="col-sm-2 text-center">&nbsp;</div>
		</div>
		
  <div class="row">
    <div class="col-sm-2 text-center">&nbsp;</div>
		<div class="col-sm-8 text-center">
			<div class="elevIconCont"><a href="#billing"><img src="{{ STATIC_URL }}home/pics/icon_billing.png" alt="billing icon" width="150" height="160"><br>Billing</a></div>
			<div class="elevIconCont"><a href="#invoices"><img src="{{ STATIC_URL }}home/pics/icon_invoices.png" alt="invoices icon" width="150" height="160"><br>Invoices</a></div>
			<div class="elevIconCont"><a href="#payments"><img src="{{ STATIC_URL }}home/pics/icon_payments.png" alt="payments icon" width="150" height="160"><br>Payments</a></div>
      <!-- <h1>Child care payments made easy.</h1> -->
			<br>
    </div>
		<div class="col-sm-2 text-center">&nbsp;</div>
  </div>
</div>

<br />

<div class="container-fluid elevPitch2" id="billing">
	<!-- <div class="row backToTop" style="text-align:center;"><a href="#myPage">Back to top</a></div> -->
  <div class="row">
    <div class="col-sm-2 text-center">&nbsp;</div>
		<div class="col-sm-8 text-center">
			<div class="elevIconCont"><img src="{{ STATIC_URL }}home/pics/icon_billing.png" alt="billing icon" width="150" height="160"></div>
			<h1>Customize your fees</h1>
			<h4>Our flexible billing solution adapts to your business</h4>
    </div>
		<div class="col-sm-2 text-center">&nbsp;</div>
  </div>
</div>

<div class="container-fluid elevPitch4">
	<div class="col-sm-2 text-center"></div>
	<div class="col-sm-8 text-center video-container">
	<iframe width="640" height="360" src="https://www.youtube.com/embed/4gk2jr9bYQE" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
</div>
<div class="col-sm-2 text-center"></div>
</div>



<div class="container-fluid elevPitch3">
  <div class="row">
    <div class="col-sm-6 text-center"><img src="{{ STATIC_URL }}home/pics/headshot_diane.png" alt="Diane Provider Headshot" width="180" height="180"></div>
		<div class="col-sm-5 text-center testimonialDiv">
			<p><em>I’ve had my childcare business for decades - Joobali has created the most useful product to help child care providers that I’ve seen so far, and it seems to get better by the day.  They are also a caring and attentive team who pay close attention to detail.</em>
				<br><br> -Diane, Montessori Fun</p>
    </div>
  </div>
</div>


<div class="container-fluid elevPitch2" id="invoices">
	<!-- <div class="row backToTop" style="text-align:center;"><a href="#myPage">Back to top</a></div> -->
	<div class="row">
	  <div class="col-sm-2 text-center">&nbsp;</div>
		<div class="col-sm-8 text-center">
			<div class="elevIconCont"><img src="{{ STATIC_URL }}home/pics/icon_invoices.png" alt="Invoices icon" width="150" height="160"></div>
			<h1>Automate invoices</h1>
			<h4>Joobali sends email reminders and receipts straight to parents</h4>
	  </div>
		<div class="col-sm-2 text-center">&nbsp;</div>
	</div>
</div>


<div class="container-fluid elevPitch3">
	<div class="row">
		<div class="col-sm-1 text-center">&nbsp;</div>
		<div class="col-sm-5 text-center testimonialDiv">
			<p><em>Finally! With Joobali, I can focus my energy on what I do best; taking care of kids. With the automated payments, Joobali handles the parts of the business that I like least; collecting payments, applying late fees, and reminding people when payments are due.</em>
				<br><br> -Melanie, Wild Ones</p>
			</div>
		<div class="col-sm-6 text-center"><img src="{{ STATIC_URL }}home/pics/headshot_melanie.png" alt="Mealnie Provider Headshot" width="180" height="180"></div>
		</div>
</div>


<div class="container-fluid elevPitch2" id="payments">
	<!-- <div class="row backToTop" style="text-align:center;"><a href="#myPage">Back to top</a></div> -->
	<div class="row">
	  <div class="col-sm-2 text-center">&nbsp;</div>
		<div class="col-sm-8 text-center">
			<div class="elevIconCont"><img src="{{ STATIC_URL }}home/pics/icon_payments.png" alt="Payments icon" width="150" height="160"></div>
			<h1>Get paid on time</h1>
			<h4>Joobali Autopay delivers payments on your schedule</h4>
	  </div>
		<div class="col-sm-2 text-center">&nbsp;</div>
	</div>
</div>

<div class="container-fluid final">
	<div class="row">
		<div class="col-sm-1 text-center">&nbsp;</div>
		<div class="col-sm-10 text-center">
			<a href="/login/signup" class="btn">Get started </a>
			<br><br>
			<span style="color:#70ABA7;">It's Free</span>
		</div>
		<div class="col-sm-1 text-center">&nbsp;</div>
</div>
	<div class="row text-center" style="top:100px; position: relative;">
		<div class="col-sm-12 text-center">
		    <a href="#myPage" title="To Top"><span class="glyphicon glyphicon-chevron-up"></span></a>
		</div>
	</div>
</div>


<footer onload="home_url = '{{home_url}}'" ng-include="'{{ STATIC_URL }}home/footer.html'"></footer>

</body> 
</html>
