<!DOCTYPE html>
<html lang="en" ng-app=''>
<head>
  <title>Joobali - Care for You</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="shortcut icon" type="image/png" href="{{STATIC_URL}}home/pics/favicon.ico"/>

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
	<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
  <link rel="stylesheet" href="{{ STATIC_URL }}home/style.css" />

   <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
	<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.min.js"></script>
  <script src="{{ STATIC_URL }}home/script.js"></script>

</head>
<body id="myPage">
	<nav class="navbar navbar-default navbar-fixed-top">
	  <div class="container">
	    <div class="navbar-header">
	      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
	        <span class="icon-bar"></span>
	        <span class="icon-bar"></span>
	        <span class="icon-bar"></span>
	      </button>
						 <a class="logoLink" href="/home"><img src="{{ STATIC_URL }}home/pics/logo/img_navbarLogo.png" class="navbarHeaderLogo" alt="Logo" width="98" height="36"></a>
	&nbsp;
			</div>
	    <div class="collapse navbar-collapse" id="myNavbar">
	      <ul class="nav navbar-nav navbar-right">
					{% if loggedIn %}
					<li><a href="/home/dashboard"><i class="fa fa-dashboard fa-lg"></i>&nbsp; Dashboard</a></li>
          <li class="dropdown">
              <a class="dropdown-toggle" data-toggle="dropdown">
                  {{ email }}
                  <span class="caret"></span>
              </a>
              <ul class="dropdown-menu">
				<!-- <li><a href="/home/dashboard">Dashboard</a></li> -->
                  <li><a href="/home/dashboard#!/profile">Profile</a></li>

                <li><a href="/login/logout"><span class="glyphicon glyphicon-log-out"></span>Log Out</a></li>
              </ul>
          </li>
        {% else %}
          <li><a href="/login"><span class="glyphicon glyphicon-log-in"></span>Log In</a></li>
          <li><a href="/login/signup"><span class="glyphicon glyphicon-user"></span>Sign Up</a></li>
        {% endif %}
	      </ul>
	    </div> <!-- end .#myNavbar -->
		</div> <!-- end .container -->
	</nav>


	<div class="team container-fluid text-center">
        <div class="row">
					<div class="col-sm-1 text-center">&nbsp;</div>
					<div class="col-sm-10 text-center">
						<h1>Meet our team</h1>
						<h4>We care for your business while you care for the kids</h4>
					</div>
					<div class="col-sm-1 text-center">&nbsp;</div>
				</div>
				<br><br>
				<div class="row">
					<div class="col-sm-3 text-center">&nbsp;</div>
					<div class="col-sm-6 text-center">
<p>Joobali's work team consists of deep thinkers and problem solvers dedicated to building solutions for child care providers.  We bring decades of cumulative experience spanning tech, legal, creative, marketing, sales, customer service, and communications.  Our team also has valuable expertise in candid family photography, rug sales, and tandem skydiving instruction.</p>
					</div>
					<div class="col-sm-3 text-center">&nbsp;</div>
  <!-- <form class="form-inline">
    <input type="text" class="form-control" size="50" placeholder="Search for ...">
    <button type="button" class="btn btn-danger">Search</button>
  </form> -->
				</div>
</div>



<footer onload="home_url = '{{home_url}}'" ng-include="'{{ STATIC_URL }}home/footer.html'"></footer>

</body>
</html>
