<div class="invoiceTable">
  <div class="invoiceList">
    <table class="table">
      <thead>
        <th>Provider</th>
        <th>Child</th>
        <th>Due Date</th>
        <th>Amount</th>
        <th>Status</th>
      </thead>
      <tbody>
        <tr class='invoiceRow' data-ng-repeat="invoice in $ctrl.invoices track by $index" ng-class="{invoiceMouseOver: invoice.hover}" ng-click="$ctrl.viewInvoice(invoice)" ng-mouseover="invoice.hover = true" ng-mouseleave="invoice.hover = false">
          <td>{{ invoice.provider }}</td>
          <td>{{ invoice.child }}</td>
          <td>{{ invoice.due_date }}</td>
          <td>{{ invoice.amount }}</td>
          <td>{{ invoice.paid ? "Paid" : "Unpaid" }}</td>
          <td>
            <button class="PayBillButton btn btn-primary btn-sm" ng-click="$ctrl.buttonClicked(invoice); $event.stopPropagation();" ng-show="!invoice.paid && invoice.hover">{{ $ctrl.getButtonText() }}</button>
            <button class="AdjustButton btn btn-primary btn-sm" ng-click="$ctrl.adjustButtonClicked(invoice); $event.stopPropagation();" ng-show="$ctrl.isProvider">Adjust</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
<adjust-invoice-component invoices="$ctrl.invoices"></adjust-invoice-component>