<div class="invoiceTable">
  <div class="invoiceList">
    <form>
      <div class="form-group">
        <div class="input-group searchFilter">
          <div class="input-group-addon"><i class="fa fa-search"></i></div>

          <input type="text" class="form-control" placeholder="Search Invoice" ng-model="$ctrl.searchTerm">

        </div>
      </div>
    </form>
    <table class="table">
      <thead>
        <th>
          <a ng-click="$ctrl.sortType = 'child'; $ctrl.sortReverse = !$ctrl.sortReverse">
            Child
            <i ng-show="$ctrl.sortType == 'child' && !$ctrl.sortReverse" class="fa fa-caret-down fa-3"></i>
            <i ng-show="$ctrl.sortType == 'child' && $ctrl.sortReverse" class="fa fa-caret-up fa-3"></i>
          </a>
        </th>
        <th>
          <a ng-click="$ctrl.sortType = 'due_date'; $ctrl.sortReverse = !$ctrl.sortReverse">
            Due Date
            <i ng-show="$ctrl.sortType == 'due_date' && !$ctrl.sortReverse" class="fa fa-caret-down fa-3"></i>
            <i ng-show="$ctrl.sortType == 'due_date' && $ctrl.sortReverse" class="fa fa-caret-up fa-3"></i>
          </a>
        </th>
        <th>
          <a ng-click="$ctrl.sortType = 'original_amount'; $ctrl.sortReverse = !$ctrl.sortReverse">
            Amount
            <i ng-show="$ctrl.sortType == 'original_amount' && !$ctrl.sortReverse" class="fa fa-caret-down fa-3"></i>
            <i ng-show="$ctrl.sortType == 'original_amount' && $ctrl.sortReverse" class="fa fa-caret-up fa-3"></i>
          </a>
        </th>
        <th>
          <a ng-click="$ctrl.sortType = 'amount'; $ctrl.sortReverse = !$ctrl.sortReverse">
            Balance Due
            <i ng-show="$ctrl.sortType == 'amount' && !$ctrl.sortReverse" class="fa fa-caret-down fa-3"></i>
            <i ng-show="$ctrl.sortType == 'amount' && $ctrl.sortReverse" class="fa fa-caret-up fa-3"></i>
          </a>
        </th>
        <th>
          <a ng-click="$ctrl.sortType = 'autopay'; $ctrl.sortReverse = !$ctrl.sortReverse">
            Autopay
            <i ng-show="$ctrl.sortType == 'autopay' && !$ctrl.sortReverse" class="fa fa-caret-down fa-3"></i>
            <i ng-show="$ctrl.sortType == 'autopay' && $ctrl.sortReverse" class="fa fa-caret-up fa-3"></i>
          </a>
        </th>
        <th>
          <a ng-click="$ctrl.sortType = 'status'; $ctrl.sortReverse = !$ctrl.sortReverse">
            Status
            <i ng-show="$ctrl.sortType == 'status' && !$ctrl.sortReverse" class="fa fa-caret-down fa-3"></i>
            <i ng-show="$ctrl.sortType == 'status' && $ctrl.sortReverse" class="fa fa-caret-up fa-3"></i>
          </a>
        </th>
      </thead>
      <tbody>
        <!-- <tr class='invoiceRow' data-ng-repeat="invoice in $ctrl.invoices track by $index" ng-class="{invoiceMouseOver: invoice.hover}" ng-click="$ctrl.viewInvoice(invoice)" ng-mouseover="invoice.hover = true" ng-mouseleave="invoice.hover = false"> -->
				<tr class='invoiceRow' data-ng-repeat="invoice in $ctrl.invoices | orderBy:$ctrl.sortType:$ctrl.sortReverse | filter:$ctrl.searchTerm track by $index" ng-click="$ctrl.viewInvoice(invoice)">
          <td>{{ invoice.child }}</td>
          <td>{{ invoice.due_date | date:'MM/dd/yyyy'}}</td>
          <td>{{ invoice.original_amount | currency}}</td>
          <td>{{ invoice.amount | currency}}</td>
          <td>{{ invoice.autopay_source_id && 'Yes' || 'No' }}</td>
          <td>{{ invoice.status }}</td>
          <td>
            <button class="PayBillButton btn btn-info btn-default joobali btn-sm" ng-click="$ctrl.buttonClicked(invoice); $event.stopPropagation();" ng-show="($ctrl.isProvider && !invoice.paid && !invoice.processing) || (!$ctrl.isProvider && !invoice.paid && ((invoice.processing && invoice.cancel) || (!invoice.processing && !invoice.autopay_source_id))) "><i class="fa fa-check-circle fa-lg"></i> &nbsp;{{ $ctrl.getButtonText(invoice) }}</button>
            <button class="AdjustButton btn btn-info btn-default joobali btn-sm" ng-click="$ctrl.adjustButtonClicked(invoice); $event.stopPropagation();" ng-show="$ctrl.isProvider && !invoice.paid && !invoice.processing"><i class="fa fa-pencil fa-lg"></i> &nbsp;Adjust</button>
            <button class="DeleteButton btn btn-info btn-default joobali btn-sm" ng-click="$ctrl.deleteButtonClicked(invoice); $event.stopPropagation();" ng-show="$ctrl.isProvider && !invoice.paid && !invoice.processing"><i class="fa fa-trash fa-lg"></i> &nbsp;Delete</button>
            <button class="CancelAutopayButton btn btn-info btn-default joobali btn-sm" ng-click="$ctrl.cancelAutopayClicked(invoice); $event.stopPropagation();" ng-show="!$ctrl.isProvider && invoice.autopay_source_id && !invoice.paid && !invoice.processing"><i class="fa fa-pencil fa-lg"></i>  Cancel Autopay</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>