<!doctype html>
<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Joobali Invoice Invite</title>
</head>

<body yahoo="yahoo" style="margin: 0;font-family: sans-serif;font-style: normal;font-weight: 400;-webkit-text-size-adjust: none!important;">
<table width="100%" cellspacing="0" cellpadding="0" style="font-family: sans-serif;font-style: normal;font-weight: 400;-webkit-text-size-adjust: none!important;">
  <tbody>
    <tr>
      <td style="font-family: sans-serif;font-style: normal;font-weight: 400;-webkit-text-size-adjust: none!important;"><table width="600" align="center" cellpadding="0" cellspacing="0" style="font-family: sans-serif;font-style: normal;font-weight: 400;-webkit-text-size-adjust: none!important;">
          <!-- Main Wrapper Table with initial width set to 60opx -->
          <tbody>
            <tr>
              <td style="font-family: sans-serif;font-style: normal;font-weight: 400;-webkit-text-size-adjust: none!important;"><table bgcolor="#ff5b35" background="http://joobali-1310.appspot.com/parent/#!/due" class="top" width="100%" align="left" cellpadding="0" cellspacing="0" style="padding: 10px 10px 10px 10px;font-family: sans-serif;font-style: normal;font-weight: 400;-webkit-text-size-adjust: none!important;">
                  <!-- First header column with Logo -->
                  <tbody>
                    <tr>
                      <td style="font-size: 12px;color: #929292;text-align: center;font-family: sans-serif;font-style: normal;font-weight: 400;-webkit-text-size-adjust: none!important;"><a href="#" style="font-family: sans-serif;font-style: normal;font-weight: 400;-webkit-text-size-adjust: none!important;"><img src="http://joobali-1310.appspot.com/static/home/pics/logo/logo-1.jpg" width="220" height="100" alt=""></a></td>
                    </tr>
                  </tbody>
                </table>
              </td>
            </tr>
            
            <tr> 
              <!-- HTML Spacer row -->
              <td style="font-size: 0;line-height: 0;font-family: sans-serif;font-style: normal;font-weight: 400;-webkit-text-size-adjust: none!important;" height="20"><table width="96%" align="left" cellpadding="0" cellspacing="0" style="font-family: sans-serif;font-style: normal;font-weight: 400;-webkit-text-size-adjust: none!important;">
                  <tr>
                    <td style="font-size: 0;line-height: 0;font-family: sans-serif;font-style: normal;font-weight: 400;-webkit-text-size-adjust: none!important;" height="20">&nbsp;</td>
                  </tr>
                </table></td>
            </tr>
            
            <tr> 
              <!-- Introduction area -->
              <td style="font-family: sans-serif;font-style: normal;font-weight: 400;-webkit-text-size-adjust: none!important;"><table style="font-family: sans-serif;font-style: normal;font-weight: 400;-webkit-text-size-adjust: none!important;">
                  <tr> 
                    <table width="96%" align="center" cellpadding="0" cellspacing="0" style="font-size: 14px;font-style: normal;font-weight: 100;color: #929292;text-align: center;font-family: sans-serif;-webkit-text-size-adjust: none!important;">
                    	<tr>
                        	<td style="font-family: sans-serif;font-style: normal;font-weight: 400;-webkit-text-size-adjust: none!important;">&nbsp; </td>
                        	<!-- pay invoice button -->
                        	<td cellpadding="4" bgcolor="#1E988A" style="font-family: sans-serif;font-style: normal;font-weight: 400;-webkit-text-size-adjust: none!important;"><a href="{{ pay_invoice_url }}" style="font-size: 16px;font-weight: 300;color: white;font-family: sans-serif;line-height: 4;font-style: normal;-webkit-text-size-adjust: none!important;">PAY INVOICE</a></td>
                            <td style="font-family: sans-serif;font-style: normal;font-weight: 400;-webkit-text-size-adjust: none!important;">&nbsp; </td>
                        </tr>
                        <tr><td colspan="3" style="font-family: sans-serif;font-style: normal;font-weight: 400;-webkit-text-size-adjust: none!important;">&nbsp; </td></tr>
                        <tr cellpadding="10">
                            <td align="center" style="font-family: sans-serif;font-style: normal;font-weight: 400;-webkit-text-size-adjust: none!important;">
                            	<table style="font-family: sans-serif;font-style: normal;font-weight: 400;-webkit-text-size-adjust: none!important;">
                                	<tr>
                                    	<td align="center" style="font-family: sans-serif;font-style: normal;font-weight: 400;-webkit-text-size-adjust: none!important;">INVOICE</td>
                                    </tr>	
                                    <tr>
                                    	<td align="center" style="color: black;font-family: sans-serif;font-style: normal;font-weight: 400;-webkit-text-size-adjust: none!important;">{{ invoice_id }}</td>
                                    </tr>
                                </table>
                            </td>
                            <td align="center" style="font-family: sans-serif;font-style: normal;font-weight: 400;-webkit-text-size-adjust: none!important;">
                            	<table width="100%" style="font-family: sans-serif;font-style: normal;font-weight: 400;-webkit-text-size-adjust: none!important;">
                                	<tr>
                                    	<td align="center" style="font-family: sans-serif;font-style: normal;font-weight: 400;-webkit-text-size-adjust: none!important;">BILLING PERIOD</td>
                                    </tr>	
                                    <tr>
                                    	<td align="center" style="color: black;font-family: sans-serif;font-style: normal;font-weight: 400;-webkit-text-size-adjust: none!important;">{{ start_date }} - {{ end_date }}</td>
                                    </tr>
                                </table>
                            </td>
                            <td align="center" style="font-family: sans-serif;font-style: normal;font-weight: 400;-webkit-text-size-adjust: none!important;">
                            	<table width="100%" style="font-family: sans-serif;font-style: normal;font-weight: 400;-webkit-text-size-adjust: none!important;">
                                	<tr>
                                    	<td align="center" style="font-family: sans-serif;font-style: normal;font-weight: 400;-webkit-text-size-adjust: none!important;">DUE DATE</td>
                                    </tr>	
                                    <tr>
                                    	<td align="center" style="color: black;font-family: sans-serif;font-style: normal;font-weight: 400;-webkit-text-size-adjust: none!important;"><strong>{{ due_date }}</strong></td>
                                    </tr>
                                </table>
                            </td>
                        </tr>
                    </table>
                  </tr>
                  <tr>
                    <td style="font-size: 0;line-height: 0;font-family: sans-serif;font-style: normal;font-weight: 400;-webkit-text-size-adjust: none!important;" height="20"><table width="96%" align="left" cellpadding="0" cellspacing="0" style="font-family: sans-serif;font-style: normal;font-weight: 400;-webkit-text-size-adjust: none!important;">
                        <tr> 
                          <!-- HTML Spacer row -->
                          <td style="font-size: 0;line-height: 0;font-family: sans-serif;font-style: normal;font-weight: 400;-webkit-text-size-adjust: none!important;" height="20">&nbsp;</td>
                        </tr>
                      </table></td>
                  </tr>
                  <tr> 
                    <!-- Row container for Intro/ Description -->
                    <td align="left" style="font-size: 14px;font-style: normal;font-weight: 100;color: #929292;line-height: 1.8;text-align: justify;padding: 10px 20px 0px 20px;font-family: sans-serif;-webkit-text-size-adjust: none!important;"><p style="font-family: sans-serif;font-style: normal;font-weight: 400;-webkit-text-size-adjust: none!important;">{{ school_name }} has invited you to make payments online and view invoices for childcare services provided. Please sign up and make a payment via Joobli on or before the due date indicated. If you do not pay online, be sure to pay {{ school_name }} in person by check or cash. Don't forget, late fees may be incurred if payments are not made on time. </p>
                    <p style="font-family: sans-serif;font-style: normal;font-weight: 400;-webkit-text-size-adjust: none!important;"><strong>A Note from {{ school_name }}:</strong></p>
                    <p style="font-family: sans-serif;font-style: normal;font-weight: 400;-webkit-text-size-adjust: none!important;">&quot;</p></td>
                  </tr>
                </table></td>
            </tr>

            <tr>
              <!-- HTML spacer row -->
              <td style="font-size: 0;line-height: 0;font-family: sans-serif;font-style: normal;font-weight: 400;-webkit-text-size-adjust: none!important;" height="20"><table width="96%" align="left" cellpadding="0" cellspacing="0" style="font-family: sans-serif;font-style: normal;font-weight: 400;-webkit-text-size-adjust: none!important;">
                  <tr>
                    <td style="font-size: 0;line-height: 0;font-family: sans-serif;font-style: normal;font-weight: 400;-webkit-text-size-adjust: none!important;" height="20">&nbsp;</td>
                  </tr>
                </table></td>
            </tr>

            <tr bgcolor="#d0cfcf">
              <td style="font-family: sans-serif;font-style: normal;font-weight: 400;-webkit-text-size-adjust: none!important;"><table class="footer" width="48%" align="left" cellpadding="0" cellspacing="0" style="font-family: sans-serif;font-style: normal;font-weight: 400;-webkit-text-size-adjust: none!important;">
                  <!-- First column of footer content -->
                  <tr>
                    <td style="font-family: sans-serif;font-style: normal;font-weight: 400;-webkit-text-size-adjust: none!important;"><p align="center" style="font-size: 22px;font-weight: 300;line-height: 2.5em;color: #929292;font-family: sans-serif;font-style: normal;-webkit-text-size-adjust: none!important;">Joobali</p>
                      <p align="center" style="font-size: 12px;color: #929292;text-align: center;font-family: sans-serif;font-style: normal;font-weight: 400;-webkit-text-size-adjust: none!important;"></p></td>
                  </tr>
                </table>
                <table class="footer" width="48%" align="left" cellpadding="0" cellspacing="0" style="font-family: sans-serif;font-style: normal;font-weight: 400;-webkit-text-size-adjust: none!important;">
                  <!-- Second column of footer content -->
                  <tr>
                    <td style="font-family: sans-serif;font-style: normal;font-weight: 400;-webkit-text-size-adjust: none!important;"><p style="font-size: 14px;font-style: normal;font-weight: normal;color: #ffffff;line-height: 1.8;text-align: justify;padding-top: 10px;margin-left: 20px;margin-right: 20px;font-family: sans-serif;-webkit-text-size-adjust: none!important;">Joobali is a service being provided to you by {{ school_name }} to make automated payments and view/review invoices any updates regarding your fees for childcare.. </p>
                    <p align="right" style="font-family: sans-serif;font-style: normal;font-weight: 400;-webkit-text-size-adjust: none!important;"> <a style="color: #929292;text-decoration: none;padding-left: 20px;font-size: 14px;font-family: sans-serif;font-style: normal;font-weight: 400;-webkit-text-size-adjust: none!important;" href="http://joobali.com/">Sign Up</a> <a style="color: #929292;text-decoration: none;padding-left: 20px;font-size: 14px;font-family: sans-serif;font-style: normal;font-weight: 400;-webkit-text-size-adjust: none!important;" href="#">Link 2</a> <a style="color: #929292;text-decoration: none;font-size: 14px;padding-left: 20px;padding-right: 20px;font-family: sans-serif;font-style: normal;font-weight: 400;-webkit-text-size-adjust: none!important;" href="#">Link 3</a></p></td>
                  </tr>
                </table></td>
            </tr>
          </tbody>
        </table></td>
    </tr>
  </tbody>
</table>
</body>
</html>