body {
	background:#ff5b35;
	letter-spacing:.05em;
}

@media (min-width: 768px) {
.login-form{
    max-width:440px;
}
.col-centered {
    float: none;
    margin: 0 auto;
}
.logo {
    padding: 50, 50, 10, 50;
}
}

@media (min-width: 992px) {
.login-form{
    max-width:500px;
}}

@media (min-width: 1200px) {
.login-form{
    max-width:580px;
}}

.tooltip-inner {
    background-color: #ff5b35;
    color: #fff;
    text-align: left;
}

.tooltip.top .tooltip-arrow {
    border-top-color: #ff5b35;
}

/*-------------- Structure & Layout ----------------*/
.jumbotron {
    background: #fa5d26 url("./pics/img_homegbg.png") no-repeat top center;
		background-size:100%;
    color: #ffffff;
    padding: 100px 25px;
}

.jumbotron .btn, .homePitch2 .btn {
  -webkit-border-radius: 3;
  -moz-border-radius: 3;
  border-radius: 3px;
  -webkit-box-shadow: .5px .5px 1px #000000;
  -moz-box-shadow: .5px .5px 1px #000000;
  box-shadow: .5px .5px 1px #000000;
  font-family: 'Roboto', sans-serif;
  color: #ffffff;
  font-size: 20px;
  background: #339999;
  padding: 15px 24px 15px 24px;
  text-decoration: none;
}

.jumbotron .btn:hover, .homePitch2 .btn:hover {
  background: #2e8f8f;
  text-decoration: none;
}

label {
	font-weight:200;
}