body {
	background: #f6921e;
	letter-spacing:.05em;
}

.tooltip-inner {
    background-color: #ff5b35;
    color: #fff;
    text-align: left;
}

.tooltip.top .tooltip-arrow {
    border-top-color: #ff5b35;
}

/*-------------- Structure & Layout ----------------*/
.container {
	margin:37px auto;
}

.jumbotron {
    background: #fa5d26 url("./pics/img_homegbg.png") no-repeat top center;
		background-size:100%;
    color: #ffffff;
    padding: 100px 25px;
}

.jumbotron .btn, .homePitch2 .btn {
  -webkit-border-radius: 3;
  -moz-border-radius: 3;
  border-radius: 3px;
  -webkit-box-shadow: .5px .5px 1px #000000;
  -moz-box-shadow: .5px .5px 1px #000000;
  box-shadow: .5px .5px 1px #000000;
  font-family: 'Roboto', sans-serif;
  color: #ffffff;
  font-size: 20px;
  background: #339999;
  padding: 15px 24px 15px 24px;
  text-decoration: none;
}

.jumbotron .btn:hover, .homePitch2 .btn:hover {
  background: #2e8f8f;
  text-decoration: none;
}

label {
	font-weight:200;
}

/* ----------------- Buttons -------------------*/
center {
	width:50%;
	margin:auto;
}

.btn-default.joobali {
  background: #339999;
  color: #ffffff;
  margin-top: 10px;
  border-radius: 3px !important;
  padding: 15px 40px;
	text-decoration:none;
}

.btn-default.joobali:hover , .btn-default.joobali.hover {
  background: #2e8f8f;
    color: #ffffff;
    width: auto;
}

.btn-default.joobali:focus, .btn-default.joobali.focus, .btn-default.joobali:active, .btn-default.joobali.active, .btn-default.joobali:active:focus, .btn-default.joobali.active:focus {
   background: #2e8f8f;
    color: #ffffff;
    width: auto;
}

a {
  color: #339999;
  text-decoration: none;
}

/* ----------------- Modals Override ----------------- */
.modal-title {
	font-size:30px;
	padding:26px 0;
	text-align: center;
}

.modal-content {
		width:63%;
		margin: 0 auto !important;
		box-shadow: 0 0 200px rgba(255,255,255,.25);
}

.modal-body {
	background: #F5F5F5;
	margin:24px;
	border: 1px solid #e3e3e3;
  border-radius: 4px;
}

.modal-footer {
	border:none !important;
	text-align:center;
}

.form-group {
  margin: 15px auto;
  width: 50%;
}

.form-group .col-1 {
	width:49%;
	display:inline-block;
}

/*.input-group.date {
  width: 49%;
  display: inline-table;
}
*/

.well {
	-webkit-box-shadow:none;
  box-shadow: none;
  padding: 6px 0;
	border:none;
}

.input-group-addon.cal {
	position: relative;
	right: 43px;
	z-index: 2;
	background:none;
}

a.delete {
  color: red;
  text-decoration: underline;
	margin:15px auto;
}

a.delete:hover {
	color:darkgray;
}

.formActions{
	display: table;
  width: 80%;
  margin: 0 auto;
	border-top:1px solid #e5e5e5;
	padding: 24px 49px 0 49px;
}

.formActions h3 {
	text-align:center;
}

/*--------------- Sign Up Page -------------------*/
#signUp .container {
	margin:0px auto;
}

#signUp .profileFormHeader, 
#signUp .profileFormBody, 
#signUp .profileFormContainer {
	margin:auto;
	width:63%;
}

#signUp .profileFormContainer {
	width:100%;
}

#signUp .profileFormHeader{
  background: white;
  border-radius: 4px 4px 0 0;
}
#signUp .profileFormBody {
	border-radius:0 0 4px 4px;
  overflow: auto;
}

#signUp .jumbotron {
	background: #fa5d26 url("./pics/img_signupbg.jpg") no-repeat top center;
	background-size:inherit 100%;
	color: #333;
}

#signUp .jumbotron form {
  /*background: white;*/
}

#signUp .signUpFeatures {
	background: white;
	border-radius:4px;
	outline:.6px solid #e5e5e5;
	padding:0 30px 40px;
}

#signUp .row {
}

#signUp .form-group {
  width: 87%;
	margin-top:0;
}

#signUp h1 {
	font-size:16pt;
}

#signUp h3 {
	font-size:8em;
	margin:5px 0 0 0;
}

#signUp h3 sup {
	font-size: 46%;
  line-height: 0;
  margin: 0 0 0 -5px;
}

#signUp .featureList ul {
	-webkit-margin-before: 0;
  -webkit-margin-after: 0;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;
  -webkit-padding-start: 0px;
}
		
#signUp .featureList li {
	list-style:none;
	color: #666;
	border-bottom:1px solid #adafb0;
  padding: 10px 0px;
  font-size: 14px;
  font-weight: 300;
}

#signUp .featureList li:last-of-type {
	border-bottom:none;
}

#signUp .regPricing ul {
	background:#D0D3D7;
}

#signUp .regPricing ul li {
	display:inline-block;
}

#signUp .regPricing ul li.vertRule {
  border-right: 1px solid #7F8183;
  padding-right: 20%;
}

/*---------------- Responsive Stuff ------------------*/

@media (min-width: 1200px) {
	.login-form{
	    max-width:580px;
	}
	.logo {
    width: 25%;
    margin: 0px auto 25px;
	}
}


@media screen and (max-width: 1200px) {
	.modal-content {
		width:50%;
		margin: 0 auto !important;
	}
	.container {
		width: 100%;
	}
	.login-form{
	    max-width:580px;
	}
	.logo {
    width: 25%;
    margin: 0px auto 25px;
	}
}

@media screen and (max-width: 916px) {
	.modal-content {
		width:63%;
		margin: 0 auto !important;
	}
	.container {
		width: 100%;
	}
	.login-form{
	    max-width:500px;
	}	
	/*.col-sm-6 {
		width:100%;
	}*/
	#signUp .profileFormHeader, #signUp .profileFormBody, #signUp .profileFormContainer {
		width:100%;
    min-width: auto !important;
	}
	#signUp .signUpFeatures {
		padding:0 30px 10px;
	}
	#signUp .jumbotron {
		background-size:auto 100%;
	}
}

@media screen and (max-width: 768px) {
	.login-form{
	    max-width:440px;
	}
	.col-centered {
	    float: none;
	    margin: 0 auto;
	}
	.logo {
    margin-bottom: 10px;
    width: 30%;
	}
	.modal-content {
		width:80%;
		margin: 0 auto !important;
	}
	.container {
		width: 100%;
/*    padding-right: 0px;
    padding-left: 0px;*/
	}
	#signUp .profileFormHeader, #signUp .profileFormBody, #signUp .profileFormContainer {
		width:100%;
    min-width: auto !important;
	}
	#signUp .signUpFeatures {
		padding:0 30px 10px;
	}
	#signUp .jumbotron {
		background-size:auto 100%;
	}
	.h1, h1 {
	    font-size: 32px;
	}
}

@media screen and (max-width: 600px) {
	.modal-content {
		width:100%;
		margin: 0 auto !important;
	}
	.container {
		width: 100%;
    padding-right: 0px;
    padding-left: 0px;
	}
	.logo {
    width: 50%;
    margin: 0px auto 10px;
	}
}

.tooltip {
	min-width:200px !important;
}

.tooltip.in {
	opacity: 1;
}
