<!DOCTYPE html>
{% load staticfiles %}
<html>
<head>
  <title>Joobali - Provider Registration</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
	  <!-- <link rel="stylesheet" href="{{ STATIC_URL }}login/style.css" /> -->
		<link rel="stylesheet" href="{{ STATIC_URL }}home/style.css" />
		<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
		
    <!-- JS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>

    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.min.js"></script>
    <script src="//angular-ui.github.io/bootstrap/ui-bootstrap-tpls-2.2.0.js"></script>
  	<script src="{{ STATIC_URL }}login/password_module.js"></script>
</head>

<body id="signUp">
<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <!-- <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button> -->
					 <a class="logoLink" href="/home"><img src="{{ STATIC_URL }}home/pics/logo/img_navbarLogo.png" class="navbarHeaderLogo" alt="Logo" width="98" height="36"></a>					 
&nbsp; 
		</div>
	  <div class="collapse navbar-collapse" id="myNavbar">
			<ul class="nav navbar-nav navbar-right">
          {% if loggedIn %}
            <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown">
                    {{ email }}
                    <span class="caret"></span>
                </a>
                <ul class="dropdown-menu">
                  <li><a href="#">Profile</a></li>
									<li><a href="/home/dashboard">Dashboard</a></li>									
                  <li><a href="/login/logout"><span class="glyphicon glyphicon-log-out"></span>Log Out</a></li>
                </ul>
            </li>
          {% else %}
            <li>
							<a href="/login"><span class="glyphicon glyphicon-log-in"></span>Log In</a>
						</li>
          {% endif %}
      </ul>
    </div>
	</div>
</nav>

	<div class="jumbotron">
		<div class="row">
			<div ng-app="password_module" ng-controller="credentialsController"  class="profileFormContainer container">
				<div class="profileFormHeader">
					<h2 class="profile-title">Review pricing &amp; sign up</h2>
				</div>
				<div class="profileFormBody">
					<div class="col-sm-6 signUpFeatures text-center">
						<div class="row">
							<h1>Sign up for free.<br />Pay only when you get paid!</h1>
						</div>
						<div class="row">
							<h3 style="padding-left:30px;">3<sup>%</sup></h3>
							<label>per transaction</label>
						</div>
						<div class="row featureList">
							<ul>
								<li>Receive auto-payments directly to your bank account</li>
								<li>Accept online payments from all major credit cards via account transfers.</li>
								<li>Automated billing and invoicing</li>
								<li>Parents can pay without having to share their private financial information.</li>
							</ul>
						</div>
						<div class="row">
							
						</div>
					</div>
					<div class="col-sm-6">
						<form name="loginForm" role="form" class="well" action="/login/signup/" method="POST">
				  	{% csrf_token %}
						  <div class="form-group">
						    <label class="control-label" for="firstName">First Name:</label>
		            <div class="input-group">
									<span class="input-group-addon"><i class="fa fa-user-o fa-lg"></i></span>
									<input type="text" class="form-control" id="firstName" name="firstName" ng-model="firstName"  required="true" value="{{ form.firstName.data|safe }}">
								</div>
						  </div>

						  <div class="form-group">
						    <label class="control-label" for="lastName">Last Name:</label>
		            <div class="input-group">
									<span class="input-group-addon"><i class="fa fa-user-o fa-lg"></i></span>
									<input type="text" class="form-control" id="lastName" name="lastName" ng-model="lastName"  required="true" value="{{ form.lastName.data|safe }}">
								</div>
						  </div>
						  <div class="form-group">
						    <label class="control-label" for="schoolName">Child Care Name:</label>
		            <div class="input-group">
									<span class="input-group-addon"><i class="fa fa-heart fa-lg"></i></span>
									<input type="text" class="form-control" id="schoolName" ng-model="schoolName"  name="schoolName" required="true" value="{{ form.schoolName.data|safe }}">
								</div>
						  </div>
				  	  <div class="form-group">
						    <label class="control-label" for="email">Email:</label>
		            <div class="input-group">
									<span class="input-group-addon"><i class="fa fa-envelope fa-lg"></i></span>
									<input type="email" class="form-control" id="email" ng-model="email"  name="email" required="true" value="{{ form.email.data|safe }}">
								</div>
						  </div>
				    {% if form.email.errors %}
				      <div class="form-group">
				        <span class="label label-warning">Email already registered...</span>
				      </div>
				    {% endif %}
						  <div class="form-group">
						    <label class="control-label" for="password">Password: <sup><i class="fa fa-question-circle-o" uib-tooltip-html="htmlTooltip"></i></sup> </label>
		            <div class="input-group">
									<span class="input-group-addon"><i class="fa fa-lock fa-lg"></i></span>
									<input type="password" class="form-control" ng-model="password" pattern-validator="((?=.*\d)(?=.*[A-Z])(?=.*\W).{8,8})" id="password" name="password" required="true" value="{{ loginForm.password.data|safe }}">
								</div>
								<password-strength ng-model="password"></password-strength>
						  </div>

				  	  <div class="form-group">
						    <label class="control-label" for="phone">Phone:</label>
		            <div class="input-group">
									<span class="input-group-addon"><i class="fa fa-phone fa-lg"></i></span>
									<input type="text" class="form-control" id="phone" name="phone" value="{{ form.phone.data|safe }}">
								</div>
						  </div>
						  <div class="form-group">
						    <label class="control-label" for="license">License:</label>
		            <div class="input-group">
									<span class="input-group-addon"><i class="fa fa-id-card fa-lg"></i></span>
							    <input type="text" class="form-control" id="license" name="license" value="{{ form.license.data|safe }}">
								</div>
						  </div>
							<div class="formActions">
								<button type="submit" ng-disabled="loginForm.$invalid" class="btn btn-default btn-lg pull-right joobali">Sign Up</button>
							</div> <!-- end formActions -->
					
		  		</form>
					</div>
				</div>
				
	  </div>
		</div>
	</div>
	
	<div class="container-fluid elevPitch">
	  <div class="row">
	    <div class="col-sm-2 text-center">&nbsp;</div>
			<div class="col-sm-8 text-center">
	      <h1>Child care management technology - thoughtfully designed and streamlined for you.</h1>
	    </div>
			<div class="col-sm-2 text-center">&nbsp;</div>
	  </div>
	</div>
	
	<div class="container-fluid text-center whyJoobali"> </div>
	
	<footer class="container-fluid text-center">
			<br />
		<div class"row text-center">
			<div class="col-sm-12 text-center">
		  	<a href="#myPage" title="To Top"><span class="glyphicon glyphicon-chevron-up"></span></a>
			</div>
		</div>
		<div class"row text-center">
			<div class="col-sm-3 text-center">
				<h4>TEST</h4>
				<ul>
					<li><a href="#">ONE</a></li>
					<li><a href="#">TWO</a></li>
					<li><a href="#">THREE</a></li>
				</ul>
			</div>
			<div class="col-sm-3 text-center">
				<h4>Contact</h4>
				<ul>
					<li><a href="#">ONE</a></li>
					<li><a href="#">TWO</a></li>
					<li><a href="#">THREE</a></li>
				</ul>
			</div>
			<div class="col-sm-3 text-center">
				<h4>Legal</h4>
				<ul>
					<li><a href="#">ONE</a></li>
					<li><a href="#">TWO</a></li>
					<li><a href="#">THREE</a></li>
				</ul>
			</div>
			<div class="col-sm-3 text-center">
				<h4>Help</h4>
				<ul>
					<li><a href="#">ONE</a></li>
					<li><a href="#">TWO</a></li>
					<li><a href="#">THREE</a></li>
				</ul>
			</div>
		</div>
		<div class"row text-center">	
			<p>© Joobali.com. All rights reserved. <a href="{{ HOME_URL }}" title="Joobali">www.joobali.com</a></p> 
		</div>
	</footer>
	
</body>
</html>