<!DOCTYPE html>
{% load staticfiles %}
<html>
<head>
  <title>Provider Registration</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
  <link rel="stylesheet" href="{{ STATIC_URL }}login/style.css" />
    <!-- JS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>

    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.min.js"></script>
    <script src="//angular-ui.github.io/bootstrap/ui-bootstrap-tpls-2.2.0.js"></script>
  <script src="{{ STATIC_URL }}login/password_module.js"></script>

	<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">


</head>
<body>
  <div ng-app="password_module" ng-controller="credentialsController"  class="container">
  <div class="col-centered login-form">
  	<img src="{{ STATIC_URL }}home/pics/logo/logo.png" class="img-responsive logo col-centered">
	<br />
    <!-- <p class="text-center">Welcome to Joobali. The first step is to register a account with us.</p> -->
	  <form name="loginForm" role="form" class="well" action="/login/signup/" method="POST">
	  	{% csrf_token %}
		  <div class="form-group">
		    <label class="control-label" for="firstName">First Name:</label>
		    <input type="text" class="form-control" id="firstName" name="firstName" ng-model="firstName"  required="true" value="{{ form.firstName.data|safe }}">
		  </div>
		  <div class="form-group">
		    <label class="control-label" for="lastName">Last Name:</label>
		    <input type="text" class="form-control" id="lastName" name="lastName" ng-model="lastName"  required="true" value="{{ form.lastName.data|safe }}">
		  </div>
		  <div class="form-group">
		    <label class="control-label" for="schoolName">School Name:</label>
		    <input type="text" class="form-control" id="schoolName" ng-model="schoolName"  name="schoolName" required="true" value="{{ form.schoolName.data|safe }}">
		  </div>
	  	  <div class="form-group">
		    <label class="control-label" for="email">Email:</label>
		    <input type="email" class="form-control" id="email" ng-model="email"  name="email" required="true" value="{{ form.email.data|safe }}">
		  </div>
		    {% if form.email.errors %}
	  	      <div class="form-group">
		        <span class="label label-warning">Email already registered...</span>
		      </div>
		    {% endif %}
		  <div class="form-group">
		    <label class="control-label" for="password">Password: </label>
		    <input type="password" class="form-control" ng-model="password"  uib-tooltip-html="htmlTooltip" pattern-validator="((?=.*\d)(?=.*[A-Z])(?=.*\W).{8,8})" id="password" name="password" required="true" value="{{ loginForm.password.data|safe }}">
				<password-strength ng-model="password"></password-strength>

		  </div>

	  	  <div class="form-group">
		    <label class="control-label" for="phone">Phone:</label>
		    <input type="text" class="form-control" id="phone" name="phone" value="{{ form.phone.data|safe }}">
		  </div>
		  <div class="form-group">
		    <label class="control-label" for="license">License:</label>
		    <input type="text" class="form-control" id="license" name="license" value="{{ form.license.data|safe }}">
		  </div>
      	  <button type="submit" ng-disabled="loginForm.$invalid" class="btn btn-primary btn-block btn-lg">Sign Up</button>

	  </form>
  </div>
  </div>
</body>
</html>