<!DOCTYPE html>
{% load staticfiles %}
<html ng-app="password_module">
<head>
    <title>Joobali - Provider Registration</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" type="image/png" href="{{STATIC_URL}}home/pics/favicon.ico"/>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <!-- <link rel="stylesheet" href="{{ STATIC_URL }}login/style.css" /> -->
    <link rel="stylesheet" href="{{ STATIC_URL }}home/style.css"/>
    <link rel="stylesheet" href="{{ STATIC_URL }}login/style.css"/>
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">

    <!-- JS -->
    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>

    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.min.js"></script>
    <script src="//angular-ui.github.io/bootstrap/ui-bootstrap-tpls-2.2.0.js"></script>
    <script src="{{ STATIC_URL }}login/password_module.js"></script>
    <script src='https://www.google.com/recaptcha/api.js'></script>
    <script src="{{ STATIC_URL }}home/script.js"></script>

    <script type="text/javascript" language="javascript">
        if(window.location.href.includes("joobali.com"))
            ga('send', 'event', 'Provider', 'sign up page');

        function validateform(){
        var captcha_response = grecaptcha.getResponse();
            if(captcha_response.length == 0 && '{{captcha}}'=='False')
            {
                // Captcha is not Passed
                alert("Please check the I'm not a robot box");
                return false;
            }
        }
        // ]]>
    </script>

</head>

<body id="signUp">
<nav class="navbar navbar-default navbar-fixed-top">
	  <div class="container">
	    <div class="navbar-header">
	      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
	        <span class="icon-bar"></span>
	        <span class="icon-bar"></span>
	        <span class="icon-bar"></span>
	      </button>
						 <a class="logoLink" href="#"><img src="{{ STATIC_URL }}home/pics/logo/img_navbarLogo.png" class="navbarHeaderLogo" alt="Logo" width="98" height="36"></a>
	&nbsp;
			</div>
	    <div class="collapse navbar-collapse" id="myNavbar">
	      <ul class="nav navbar-nav navbar-right">
					{% if loggedIn %}
					<li><a href="/home/dashboard"><i class="fa fa-dashboard fa-lg"></i>&nbsp; Dashboard</a></li>
          <li class="dropdown">
              <a class="dropdown-toggle" data-toggle="dropdown">
                  {{ email }}
                  <span class="caret"></span>
              </a>
              <ul class="dropdown-menu">
				<!-- <li><a href="/home/dashboard">Dashboard</a></li> -->
                  <li><a href="/home/dashboard#!/profile">Profile</a></li>

                <li><a href="/login/logout"><span class="glyphicon glyphicon-log-out"></span>Log Out</a></li>
              </ul>
          </li>
        {% else %}
          <li><a href="/login"><span class="glyphicon glyphicon-log-in"></span>Log In</a></li>
          <li><a href="/login/signup"><span class="glyphicon glyphicon-user"></span>Sign Up</a></li>
        {% endif %}
	      </ul>
	    </div> <!-- end .#myNavbar -->
		</div> <!-- end .container -->
	</nav>


<div class="jumbotron">
    <div class="row">
        <div  ng-controller="credentialsController" class="profileFormContainer container">
            <div class="profileFormHeader">
                <h2 class="profile-title">Provider Sign up <br /></h2>
								<center>Don't worry, parents! Soon you'll be able to sign up too and refer your provider directly to Joobali.</center>
            </div>
            <div class="profileFormBody">
                <div class="col-sm-6">
                    <form name="loginForm" role="form" class="well" action="/login/signup/" method="POST"  onsubmit="return validateform();">
                        {% csrf_token %}
                        <div class="form-group">
                            <label class="control-label" for="firstName">First Name:</label>
                            <div class="input-group">
                                <span class="input-group-addon"><i class="fa fa-user-o fa-lg"></i></span>
                                <input type="text" class="form-control" id="firstName" name="firstName"
                                        required="true" value="{{ form.firstName.data|safe }}">
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="control-label" for="lastName">Last Name:</label>
                            <div class="input-group">
                                <span class="input-group-addon"><i class="fa fa-user-o fa-lg"></i></span>
                                <input type="text" class="form-control" id="lastName" name="lastName"
                                      required="true" value="{{ form.lastName.data|safe }}">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label" for="schoolName">Business Name:</label>
                            <div class="input-group">
                                <span class="input-group-addon"><i class="fa fa-heart fa-lg"></i></span>
                                <input type="text" class="form-control" id="schoolName"
                                       name="schoolName" required="true" value="{{ form.schoolName.data|safe }}">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label" for="email">Email:</label>
                            <div class="input-group">
                                <span class="input-group-addon"><i class="fa fa-envelope fa-lg"></i></span>
                                <input type="email" class="form-control" id="email"  name="email"
                                       required="true" value="{{ form.email.value|safe }}">
                            </div>
                        </div>
                        {% if form.email.errors %}
                        <div class="form-group">
                            <span class="label label-warning">Email already registered...</span>
                        </div>
                        {% endif %}
                        <div class="form-group">
                            <label class="control-label" for="password">Password: <sup><i
                                    class="fa fa-question-circle-o" uib-tooltip-html="htmlTooltip"></i></sup> </label>
                            <div class="input-group">
                                <span class="input-group-addon"><i class="fa fa-lock fa-lg"></i></span>
                                <input type="password" class="form-control" ng-model="password"
                                       pattern-validator="((?=.*\d)(?=.*[A-Z])(?=.*\W).{8,8})" id="password"
                                       name="password" required="true" value="{{ loginForm.password.data|safe }}">
                            </div>
                            <password-strength ng-model="password"></password-strength>
                            <div ng-show="loginForm.password.$error.passwordPattern">The password must meet all requirements</div>

                        </div>

                        <div class="form-group">
                            <label class="control-label" for="phone">Phone:</label>
                            <div class="input-group">
                                <span class="input-group-addon"><i class="fa fa-phone fa-lg"></i></span>
                                <input type="text" class="form-control" id="phone" name="phone"
                                       value="{{ form.phone.data|safe }}">
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="control-label" for="license">Child Care License Number (if applicable):</label>
                            <div class="input-group">
                                <span class="input-group-addon"><i class="fa fa-id-card fa-lg"></i></span>
                                <input type="text" class="form-control" id="license" name="license"
                                       value="{{ form.license.data|safe }}">
                            </div>
                        </div>


                        <div class="form-group">
                            <label class="control-label" for="beta_code">Beta Code:</label>
                            <div class="input-group">
                                <input type="beta_code" class="form-control" id="beta_code"  name="beta_code">
                            </div>
                        </div>

                        <div class="form-group" ng-show="'{{beta_error}}'=='True'"  >
                            <span class="label label-warning">Wrong Beta Code</span>
                        </div>


                        <div class="form-group">
                            <div class="checkbox">
                                <label><input id="tos_pp_accepted" name="tos_pp_accepted" type="checkbox" ng-model="tos_pp_accepted">
                                        By clicking this box you accept the Joobali <a target="_blank" href="http://{{host}}/login/termsofservice">Terms of Service</a> and <a target="_blank" href="http://{{host}}/login/privacypolicy">Privacy Policy</a>.</label>
                            </div>
                        </div>



                        <div class="formActions">
                            <div ng-show="'{{captcha}}'=='False'"
                                 class="g-recaptcha" data-sitekey="6Lf6Gh8UAAAAAEff-o-4cpwWabGi4JKvMSVqEQPK"></div>
                            <button type="submit" ng-disabled="loginForm.$invalid || !tos_pp_accepted"
                                    class="btn btn-default btn-lg pull-right joobali">Sign Up
                            </button>
                        </div> <!-- end formActions -->
                    </form>
                    <div class="row text-center">
                        Already a member? <a href="/login">Login</a> here.
                    </div>
                </div>
                <div class="col-sm-6 signUpFeatures text-center">
                    <div class="row">
                        <h1>First month Free!</h1>
                    </div>
                    <div class="row">
                        <h3 style="padding-left:30px;">1<sup>%</sup></h3>
                        <label>per transaction</label>
                    </div>
                    <div class="row featureList">
                        <ul>
                            <li>Get paid on time, every time with automated invoicing and payments.</li>
                            <li>Budget-friendly Business tools - transaction fee gives you access to all features.</li>
                            <li>Customer support powered by real people who care about your business.</li>
                        </ul>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>

<footer onload="home_url = '{{home_url}}'" ng-include="'{{ STATIC_URL }}home/footer.html'"></footer>

</body>
</html>