<!DOCTYPE html>
{% load staticfiles %}
<html>
<head>
  <title>Reset password</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="shortcut icon" type="image/png" href="{{STATIC_URL}}home/pics/favicon.ico"/>
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
  <link rel="stylesheet" href="{{ STATIC_URL }}login/style.css" />
	    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">

	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
  	<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.min.js"></script>
    <script src="//angular-ui.github.io/bootstrap/ui-bootstrap-tpls-2.2.0.js"></script>
  	<script src="{{ STATIC_URL }}login/password_module.js"></script>
	<script src="{{ STATIC_URL }}home/script.js"></script>


	<style type="text/css">
		body{
			background: #E44D26; /* fallback for old browsers */
			/*background: -webkit-linear-gradient(to top, #E44D26 , #F16529);*/ /* Chrome 10-25, Safari 5.1-6 */
			/*background: linear-gradient(to top, #E44D26 , #F16529);*/ /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
		}
	</style>

</head>
<body>
	<div class="container" ng-app="password_module" ng-controller="credentialsController">
		<a href="/home"><img src="{{ STATIC_URL }}home/pics/logo/logo.png" class="img-responsive logo col-centered" alt="Joobali Website Logo"></a>
		<!-- Modal content-->
		<div class="modal-content">
		  <div class="modal-header">
		    <h4 class="modal-title">Reset Password</h4>
		  </div> <!-- end modal-header -->
		  <div class="modal-body">
				<div class="col-centered programOverviewForm">

				  	<form name="resetForm" role="form" class="well" action="/login/reset" method="POST">
				  	  {% csrf_token %}

				  	  <div class="form-group">
					 	 <label class="control-label" for="password">Password: </label>
		           			 <div class="input-group">
									<span class="input-group-addon"><i class="fa fa-lock fa-lg"></i></span>
									<input type="password" class="form-control" uib-tooltip-html="htmlTooltip" tooltip-trigger="'focus'" ng-model="password" pattern-validator="((?=.*\d)(?=.*[A-Z])(?=.*\W).{8,8})" id="password" name="password" required="true" value="{{ loginForm.password.data|safe }}">
								</div>

					 		<input type="hidden" class="form-control" id="token" name="token" required="true" value="{{ form.token }}">
					  </div>
							<center>
			      	  <button type="submit" ng-disabled="resetForm.$invalid" class="btn btn-default btn-lg joobali">Reset</button>
							</center>

				    </form>

				</div><!-- end col-centered programOerviewForm -->
			</div> <!-- end modal body -->

				<div class="modal-footer">&nbsp;</div>

		</div> <!-- end modal-content -->
		</div>
	</div>
</body>
</html>