<div class="fundingTable">
  <div class="fundingList">
    <table class="table">
      <thead>
        <th>Bank Name</th>
        <th>Account Type</th>
        <th>Status</th>
      </thead>
      <tbody>
        <tr class='fundingRow'  ng-class="{fundingMouseOver: funding.hover}"  data-ng-repeat="funding in $ctrl.fundings track by $index" ng-mouseover="funding.hover = true" ng-mouseleave="funding.hover = false">
          <td class="name">{{ funding.name }}</td>
          <td class="type">{{ funding.type }}</td>
          <td class="status">{{ funding.status }}</td>
          <!-- <td>&nbsp;<button class="RemoveFundingButton btn btn-primary btn-sm" ng-click="$ctrl.removeFunding(funding); $event.stopPropagation();" ng-show="funding.hover">Remove</button> -->
          <td>
            <button class="VerifyMicroDepositsButton btn btn-info btn-default joobali btn-sm" ng-click="$ctrl.verifyMicroDeposits(funding); $event.stopPropagation();" ng-show="funding['verify-micro-deposits']"><i class="fa fa-check-circle fa-lg"></i> &nbsp;Verify Micro-deposits</button>
          </td>
          <td>&nbsp;<a class="RemoveFundingButton" ng-click="$ctrl.removeFunding(funding); $event.stopPropagation();" alt="remove funding source"><i class="fa fa-remove fa-lg"></i></a>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>