<div class="generalBillingFormContainer" >
	<div class="generalBillingFormHeader">
		<h2 class="general-billing-title">Other General Billing Options:</h2>
	</div>
	<div class="generalBillingFormBody">
        <form id="generalBillingForm" name="generalBillingForm" role="form" class="well">
            <div class="" >

            <div class="form-group">
                    <label class="control-label" for="generalInvoiceNote">General Invoice Note (automatically sent with all invoices):</label>
                        <textarea rows="5" cols="70" class="form-control"  id="generalInvoiceNote" name="generalInvoiceNote" ng-required="false"
                           ng-model="$ctrl.generalBilling.generalInvoiceNote" ></textarea>
                </div>
            <div class="form-group">
                    <label class="control-label" for="lateFeeInvoiceNote">Late Fee Invoice Note (automatically added to general invoice note in case of late fees):</label>
                        <textarea rows="5" cols="70" class="form-control"  id="lateFeeInvoiceNote" name="lateFeeInvoiceNote" ng-required="false"
                           ng-model="$ctrl.generalBilling.lateFeeInvoiceNote" ></textarea>
                </div>
                <div class="form-group">
                    <label class="control-label" for="lateFee">Late Fee:</label>
                        <input type="text" class="form-control"  ng-min="0" ng-max="100" ng-pattern="/^[0-9]{1,7}(\.[0-9]+)?$/" id="lateFee" name="lateFee" ng-required="false"
                           ng-model="$ctrl.generalBilling.lateFee">
                </div>
                        <div class="form-group">
                    <label class="control-label" for="graceDays">Late Fee Grace Period (days):</label>

                        <input type="text" class="form-control" ng-min="0" ng-max="100" ng-pattern="/^[0-9]{1,7}(\.[0-9]+)?$/" id="graceDays" name="graceDays" ng-required="false"
                           ng-model="$ctrl.generalBilling.graceDays">

                </div>
            </div>
		        </form>
						<div class="formActions">
								<button type="button" class="btn btn-default btn-lg pull-right joobali"
                                        ng-click="$ctrl.saveGeneralBilling()" ng-disabled="generalBillingForm.$invalid">Update &raquo;</button>
						</div> <!-- end formActions -->
    </div>
</div>