<!-- Modal -->
<div id="makePaymentModal" class="modal fade" role="dialog">
  <div class="modal-dialog modal-lg">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Make Payment:</h4>
      </div>
      <div class="modal-body">
          <div class="col-centered makeTransferForm">
            <form id="transferForm" role="form" class="form-horizontal well">
                <div class="form-group">
                  <label class="control-label col-sm-2">From:</label>

                  <div class="col-sm-10">
                    <select class="form-control" id="source" name="source" required="true">
                      <option ng-repeat="funding in $ctrl.fundings track by $index" value="{{funding.url}}">
                        {{ funding.name }}
                      </option>
                    </select>
                  </div>
                </div>
                <div class="form-group">
                  <label class="control-label col-sm-2">To:</label>

                  <div class="col-sm-10">

                    <label  class="control-label">{{ $ctrl.getSelectedInvoice().provider }}</label>

                  </div>
                </div>

                <div class="form-group">
                  <label class="control-label col-sm-2">Amount:</label>

                  <div class="col-sm-10">
                    <label  class="control-label">${{ $ctrl.getSelectedInvoice().amount }}</label>
                  </div>
                </div>
            </form>
          </div>
      </div>
      <div class="modal-footer">
        <div class="alert alert-success" ng-show="$ctrl.showPaymentSuccessAlert">Payment made successfully. It takes a few business days to clear.
        </div>
        <div class="alert alert-success" ng-show="$ctrl.showAutopaySuccessAlert">Autopay setup successfully.
        </div>
        <div class="alert alert-warning" ng-show="$ctrl.showPaymentFailureAlert">{{ $ctrl.paymentFailureMessage }}
        </div>
        <div class="alert alert-warning" ng-show="$ctrl.showAutopayFailureAlert">{{ $ctrl.autopayFailureMessage }}
        </div>

        <button id="payButton" type="button" class="btn btn-primary" ng-click="$ctrl.makePayment()" ng-disabled="$ctrl.disableButton">Pay</button>
        <div ng-show="$ctrl.autopayable()" class="checkbox">
          <label><input type="checkbox" ng-model="$ctrl.autopayOptIn" ng-disabled="$ctrl.disableButton">Setup Autopay (insert verbiage)</label>
        </div>
    </div>

  </div>
</div>