<div>
<!-- Modal -->
<div id="addProgramModal" class="modal fade" role="dialog">
  <div class="modal-dialog modal-lg">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Add a New Program:</h4>
        <div class="stepsDiv">
          <ul class="nav nav-pills nav-wizard">
              <li id="navStep1" class="form-nav current active" ng-click='$ctrl.setCurrent($event)'><a href="#" >Program</a><div class="nav-arrow"></div></li>
            <!--  <li id="navStep2" class="form-nav" ng-click='$ctrl.setCurrent($event)'><div class="nav-wedge"></div><a href="#" >Sessions</a><div class="nav-arrow"></div></li>-->
              <li id="navStep3" class="form-nav" ng-click='$ctrl.setCurrent($event)'><div class="nav-wedge"></div><a href="#" >Confirm</a></li>
          </ul>
        </div>
      </div>
      <div class="modal-body">
          <div class="col-centered programOverviewForm">
            <form id="programForm" role="form" class="well">
              <div id="step1" class="navStep1 form-content current">
                <add-program-form-component program="$ctrl.newProgram"></add-program-form-component>
              </div>
              <!--<div id="step2" class="navStep2 form-content">
                <div ng-show="!sessions.length" class="control-label text-center">No Session is Registered for Program - <span>{{ $ctrl.newProgram.programName }}</span>.</div>
                <div ng-show="sessions.length" class="control-label text-center">Sessions for Program - <span>{{ $ctrl.newProgram.programName }}</span>:</div>
                <table ng-show="sessions.length" class="table table-striped">
                  <thead>
                    <th>Name</th>
                    <th>Start Time</th>
                    <th>End Time</th>
                    <th>Repeat On</th>
                  </thead>
                  <tbody>
                    <tr  data-ng-repeat="session in sessions track by $index">
                      <td>{{ session.sessionName }}</td>
                      <td>{{ session.startTime }}</td>
                      <td>{{ session.endTime }}</td>
                      <td>{{ session.repeatOn }}</td>
                    </tr>
                  </tbody>
                </table>
                <div class="sessionForm well">
                  <div class="form-group">
                    <label class="control-label" for="sessionName">Session Name:</label>
                    <input type="text" class="form-control" id="sessionName" name="sessionName" required="true" ng-model="newSession.sessionName">
                  </div>
                  <div class="form-group">
                    <label class="control-label" for="startTime">Start Time:</label>
                      <div class="input-group bootstrap-timepicker timepicker" required="true">
                          <input id="startTime" type="text" name="startTime" class="form-control" required="true" ng-model="newSession.startTime" ng-change="$ctrl.onTimeChange()">
                          <span class="input-group-addon">
                              <i class="glyphicon glyphicon-time"></i>
                          </span>
                      </div>
                  </div>
                  <div class="form-group">
                    <label class="control-label" for="endTime">End Time:</label>
                      <div class="input-group bootstrap-timepicker timepicker" required="true">
                          <input id="endTime" type="text" name="endTime" class="form-control" required="true"  ng-model="newSession.endTime">
                          <span class="input-group-addon">
                              <i class="glyphicon glyphicon-time"></i>
                          </span>
                    </div>
                  </div>
                  <div class="form-group">
                    <div class="input-group">
                      <label class="control-label" for="repeatOn">Repeats On:&nbsp</label>
                        <div class="checkbox-group required">
                          <label class="checkbox-inline"><input name="repeatOn" type="checkbox" value="Sun" ng-change="$ctrl.onSessionChange()" ng-model="newSession.Sun">Sun</label>
                          <label class="checkbox-inline"><input name="repeatOn" type="checkbox" value="Mon" ng-change="$ctrl.onSessionChange()" ng-model="newSession.Mon">Mon</label>
                          <label class="checkbox-inline"><input name="repeatOn" type="checkbox" value="Tue" ng-change="$ctrl.onSessionChange()" ng-model="newSession.Tue">Tue</label>
                          <label class="checkbox-inline"><input name="repeatOn" type="checkbox" value="Wed" ng-change="$ctrl.onSessionChange()" ng-model="newSession.Wed">Wed</label>
                          <label class="checkbox-inline"><input name="repeatOn" type="checkbox" value="Thu" ng-change="$ctrl.onSessionChange()" ng-model="newSession.Thu">Thu</label>
                          <label class="checkbox-inline"><input name="repeatOn" type="checkbox" value="Fri" ng-change="$ctrl.onSessionChange()" ng-model="newSession.Fri">Fri</label>
                          <label class="checkbox-inline"><input name="repeatOn" type="checkbox" value="Sat" ng-change="$ctrl.onSessionChange()" ng-model="newSession.Sat">Sat</label>
                        </div>


                      <!--
                      <span class="input-group-addon">
                        <label class="radio-inline"><input type="radio" name="feeType" checked>Hourly</label>
                        <label class="radio-inline"><input type="radio" name="feeType">Tuition</label>
                      </span>

                    </div>
                  </div>
                    <div ng-show="showConflictLabel" class="form-group">
                        <span class="label label-warning">The time is conflicting with existing sessions.</span>
                    </div>
                </div>
                <button type="button" class="btn btn-primary btn-lg" ng-click="$ctrl.addNewSession()">Add New Session</button>



              </div>-->
              <div id="step3" class="navStep3 form-content">
                  <div class="text-center">Program Information</div>
                  <div>
                      <div class="programField">Program Name:</div>
                      <span class="programValue">{{ $ctrl.newProgram.programName }}</span>
                  </div>
                  <div>
                      <div class="programField">Start Date:</div>
                      <span class="programValue">{{ $ctrl.newProgram.startDate }}</span>
                  </div>
                  <div>
                      <div class="programField">End Date:</div>
                      <span class="programValue">{{ $ctrl.newProgram.endDate }}</span>
                  </div>
             <!--     <div>
                      <div class="programField">Maximum Capacity:</div>
                      <span class="programValue">{{ $ctrl.newProgram.maxCapacity }}</span>
                  </div>-->
                  <div>
                      <div class="programField">Registration Fee:</div>
                      <span class="programValue">{{ $ctrl.newProgram.registrationFee }}</span>
                  </div>
                  <div>
                      <div class="programField">Billing Rate:</div>
                      <span class="programValue">{{ $ctrl.newProgram.fee }} ({{ $ctrl.newProgram.billingFrequency }})</span>
                  </div>
                 <!-- <div>
                      <div class="programField">Late Fee:</div>
                      <span class="programValue">{{ $ctrl.newProgram.lateFee }}</span>
                  </div>
                  <div>
                      <div class="programField">Due Date:</div>
                      <span class="programValue">{{ $ctrl.newProgram.dueDate }}</span>
                  </div>
                  <div>
                      <div class="programField">Billing Frequency:</div>
                      <span class="programValue">{{ $ctrl.newProgram.billingFrequency }}</span>
                  </div>-->


                <!--  <hr class="divider">
                  <div ng-show="sessions.length"  class="text-center">Program Sessions</div>
                <div ng-show="!sessions.length" class="control-label text-center">No Session is Registered for Program - <span>{{ $ctrl.newProgram.programName }}</span>.</div>
                <table ng-show="sessions.length" class="table table-striped">
                  <thead>
                    <th>Name</th>
                    <th>Start Time</th>
                    <th>End Time</th>
                    <th>Repeat On</th>
                  </thead>
                  <tbody>
                    <tr  data-ng-repeat="session in sessions track by $index">
                      <td>{{ session.sessionName }}</td>
                      <td>{{ session.startTime }}</td>
                      <td>{{ session.endTime }}</td>
                      <td>{{ session.repeatOn }}</td>
                    </tr>
                  </tbody>
                </table>-->
              </div>
            </form>
          </div>
      </div>
      <div class="modal-footer">
        <button id="nextButton" type="button" class="btn btn-default" ng-click="$ctrl.handleNext()">Next</button>
        <button id="saveButton" type="button" class="btn btn-primary" ng-click="$ctrl.handleSave()">Save</button>
      </div>
    </div>
  </div>
</div>
</div>