<div class="form-group">
    <label class="control-label" for="programName">Name:</label>
    <input type="text" class="form-control" id="programName" name="programName" ng-required="true"
           ng-model="$ctrl.newProgram.programName">
</div>
<div class="form-group">
    <label class="control-label" for="fee">Fee:</label>
    <div class="input-group">
        <span class="input-group-addon">$</span>
        <input type="number" min="0" step="0.01" class="form-control" id="fee" name="fee"
               ng-required="true" ng-model="$ctrl.newProgram.fee">
        <span class="input-group-addon">
	<label class="radio-inline"><input type="radio" ng-change="$ctrl.whenChangeStartDateOrFrequency()" name="billingFrequency" ng-model="$ctrl.newProgram.billingFrequency"
                                       ng-required="true" value="Weekly" checked="checked">Weekly</label>
	<label class="radio-inline"><input type="radio" ng-change="$ctrl.whenChangeStartDateOrFrequency()" name="billingFrequency" ng-model="$ctrl.newProgram.billingFrequency"
                                       ng-required="true" value="Monthly">Monthly</label>
  </span>
    </div>
</div>

                <div class="form-group">
                    <label class="control-label">When is the first (or next) fee due? (MM/DD/YYYY)</label>
                    <div class="input-group date">
                        <input name="startDate"
                               type="text" class="form-control"
                               datepicker-popup-template-url="/static/home/datepicker.template.html"
                               uib-datepicker-popup="MM/dd/yyyy"
                               datepicker-options="$ctrl.startDatePickerOptions"
                               ng-model="$ctrl.newProgram.startDate"
                               is-open="$ctrl.startDatePickerOpened"
                               ng-required="true"
                               ng-click="$ctrl.openStartDatePicker()"
                               ng-change="$ctrl.whenChangeStartDateOrFrequency()"
                               close-text="Close"/>

                        <span class="input-group-btn">
                                    <button type="button" class="btn btn-default"
                                            ng-click="$ctrl.openStartDatePicker()">
                                        <i class="glyphicon glyphicon-calendar"></i></button></span>
                    </div>
                   <div class="input-group" ng-show="$ctrl.newProgram.billingFrequency=='Monthly' && $ctrl.newProgram.lastDay">

                      <span class="input-group-addon">
                          We will automatically collect fees for this program on the last day of each<br>month starting {{$ctrl.startDateDisplayOnly}}.
                     </span>
                     </div>
                     <div class="input-group" ng-show="$ctrl.newProgram.billingFrequency=='Monthly' && !$ctrl.newProgram.lastDay">

                          <span class="input-group-addon">
                              We will automatically collect fees for this program on the<br>{{$ctrl.dayOfMonthDisplayOnly}}
                              day of each month starting {{$ctrl.startDateDisplayOnly}}.
                     </span>
                     </div>
                     <div class="input-group" ng-show="$ctrl.newProgram.billingFrequency=='Weekly'">
                          <span class="input-group-addon">
                              We will automatically collect fees for this program <b>weekly</b> on <b>{{$ctrl.dayOfWeekDisplayOnly}}s</b>
                              <br>starting {{$ctrl.startDateDisplayOnly}}.
                     </span>
                     </div>
                </div>



                <div class="form-group">
                    <label class="control-label">When is the last fee due? (MM/DD/YYYY)</label>
                    <p class="input-group">
                        <input name="endDate"
                               type="text" class="form-control"
                               datepicker-popup-template-url="/static/home/datepicker.template.html"
                               uib-datepicker-popup="MM/dd/yyyy"
                               datepicker-options="$ctrl.endDatePickerOptions"
                               ng-model="$ctrl.newProgram.endDate"
                               is-open="$ctrl.endDatePickerOpened"
                               ng-click="$ctrl.openEndDatePicker()"
                               close-text="Close"/>
                        <span class="input-group-btn">
                                    <button type="button" class="btn btn-default"
                                            ng-click="$ctrl.openEndDatePicker()">
                                        <i class="glyphicon glyphicon-calendar"></i></button></span>
                    </p>

                </div>


<div class="form-group">
    <div class="col-1">
        <label class="control-label" for="registrationFee">Registration Fee:</label>
        <div class="input-group">
            <span class="input-group-addon">$</span>
            <input type="number" min="0" step="0.01" class="form-control" id="registrationFee"
                   name="registrationFee" ng-required="true" ng-model="$ctrl.newProgram.registrationFee">
        </div>
    </div>
    <div class="col-1">
        <label class="control-label" for="lateFee">Late Fee:</label>
        <div class="input-group">
            <span class="input-group-addon">$</span>
            <input type="number" min="0" step="0.01" class="form-control" id="lateFee" name="lateFee"
                   ng-required="true" ng-model="$ctrl.newProgram.lateFee">
        </div>
    </div>
</div>