.programCard {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.1);
    transition: 0.1s;
    width: 300px;
    height: 340px;
    margin: 12px;
}

.programCard:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.1);
    cursor: pointer;
	border: 1px solid #1E988A;
}

.container {
    width: inherit;
    height: auto;
    padding: 10px 20px;
}

.programText {
    font-size: 14px;
	font-family:'Roboto', sans-serif;
}

.row {
    height: 33%;
}
