.editProgramTable {
    width: 60%;
    min-height: 400px;
    padding: 100px 25px;
    margin: 0 auto;
}

.programTable {
    width: 80%;
    min-height: 400px;
    padding: 100px 25px;
    margin: 0 auto;
}
.programList {
}
.programTableButtonDiv {
	overflow: hidden;
    margin: 10px 100px;
}

.programTableButton {
	float: right;
}

.programRow:hover td {
	background-color: #5bc0de;
	cursor: pointer;
}

.sessionInEdit {
	background-color: #f4511e !important;
}

.sessionRow:not(.sessionInEdit):hover td {
	background-color: #5bc0de;
	cursor: pointer;
}

.sessionRow:hover td {
	cursor: pointer;
}

.programField {
	width: 150px;
	text-align: right;
	display: inline-block;
}

.programValue {
	margin-left: 10px;
	display: inline-block;
}

.stepsDiv {
	width: 380px;
	margin: 0 auto;
}


.form-content.current {
	display: block;
}

.form-content {
	display: none;
}

#nextButton {
	visibility: visible;
}

#saveButton {
	display: none;
}

/* Override Datepicker z-index in order to pop out before modal window. */
.datepicker{z-index:1151 !important;}

.buttonDiv {
	height: 50px;
}

.saveProgramButton {
	width: 100px;
	float: right;
}

.sessionButton {
	width: 100px;
	margin: 0 5px;
	float: right;
}

.deleteButton {
	display: block;
	width: 200px;
	margin: 30px auto 0 auto;
}