<!--Showing List of Enrollments that can be edited -->
<div class="panel panel-default">
    <table class="table table-striped table-bordered table-condensed enrollmentList">
        <thead>
        <th ng-repeat="header in $ctrl.headers">{{ header }}</th>
        </thead>
        <tbody>
        <tr data-ng-repeat="enrollment in $ctrl.enrollments">
            <td>{{ enrollment.program.programName}}</td>
            <td>{{ enrollment.enrollment.status }}</td>
            <td>{{ enrollment.enrollment.start_date}}</td>
            <td>{{ enrollment.enrollment.end_date}}</td>
            <td>{{ enrollment.program.billingFrequency}}</td>
            <td>
                <a class="" ng-click="$ctrl.openEnrollmentEditorModal(enrollment.enrollment)" alt="Edit Enrollment"><i class="fa fa-pencil fa-1x"></i>
								</a>
							</td>
							<td>
                <a class="" ng-click="$ctrl.openEnrollmentResendInvitationModal(enrollment.enrollment)" ng-show="$ctrl.canResendEnrollmentInvitation(enrollment.enrollment)" alt="Resend Email Invitation"><i class="fa fa-refresh fa-1x"></i>
                </a>
            </td>
        </tr>
        </tbody>
    </table>
</div>
