.enrollmentTable {
    width: 80%;
    min-height: 400px;
    padding: 100px 25px;
    margin: 0 auto;
}

.enrollmentList {
    text-align:center;
}

.enrollmentRow {
}

.enrollmentRow:hover {
    cursor: pointer;
    background-color: #9f9 !important;
}

.enrollmentEditor {
    width: 80%;
    min-height: 400px;
    padding: 100px 25px;
    margin: 0 auto;
}

.enrollmentTableButtonDiv {
	overflow: hidden;
    margin: 10px 100px;
}

.enrollmentTableButton {
	float: right;
}

.enrollmentOverviewForm {
}

.stepsDiv {
	width: 380px;
	margin: 0 auto;
}

.enrollment-form-content {
	visibility: hidden;
}

.enrollment-form-content.active {
	visibility: visible;
}

#nextButton {
	visibility: visible;
}

#saveButton {
	display: none;
}

#doneButton {
	display: none;
}

/* Override Datepicker z-index in order to pop out before modal window. */
.datepicker{z-index:1151 !important;}
