<!DOCTYPE html>
<html>
<head>
    <title>User Verification Status</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="shortcut icon" type="image/png" href="{{STATIC_URL}}home/pics/favicon.ico"/>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ STATIC_URL }}login/style.css"/>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <script src="{{ STATIC_URL }}home/script.js"></script>
</head>
<body>
<div class="container">
    <div class="modal-content">
        <div class="modal-header">
            <h4 class="modal-title">Log in to your account:</h4>
        </div> <!-- end modal-header -->
        <div class="modal-body">
            <h2>
                <p>
                    Hi <b>{{schoolName}}</b> with email address <b>{{email}}</b>
                </p>
                <p>
                    Verification is <b>{{status}} </b>
                </p>
            </h2>
            <nav>
                <h2>
                    <label>Click <a href="{{loginUrl}}">here</a> to login</label>
                </h2>
            </nav>
        </div>
    </div>
</div>
</body>
</html>