<!DOCTYPE html>
<html>
<head>
    <title>User Confirmation Status</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="shortcut icon" type="image/png" href="{{STATIC_URL}}home/pics/favicon.ico"/>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ STATIC_URL }}login/style.css"/>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.min.js"></script>
    <script src="{{ STATIC_URL }}home/script.js"></script>
</head>
<body>
<div class="container">
		<!-- Modal content-->
		<div class="modal-content">
		  <div class="modal-header">
		    <h4 class="modal-title">Thank You!</h4>
				<img src="{{ STATIC_URL }}home/pics/icon_complete.png" class="img-responsive logo col-centered" alt="Joobali Website Logo">
		  </div> <!-- end modal-header -->
		  <div class="modal-body">
				<div class="col-centered programOverviewForm">
					  <div class="form-group">
						  <b>{{schoolName}}</b>, your account has been confirmed.
					  </div>

				</div><!-- end col-centered programOverviewForm -->
			</div> <!-- end modal body -->

				<div class="modal-footer">
					<a href="/login" class="btn btn-info btn-default joobali"><i class="fa fa-sign-in" aria-hidden="true"></i> &nbsp; Login &nbsp;</a>
				</div>

		</div> <!-- end modal-content -->	
		
</div>
</body>
</html>