<form name="addChildForm" role="form" class="well">
    <div class="form-group"
         ng-class="{'has-error': addChildForm.childFirstName.$invalid && addChildForm.childFirstName.$touched}">
        <label class="control-label">Child First Name</label>
        <input ng-readonly="$ctrl.readOnly" type="text" class="form-control" name="childFirstName"
               required="true"
               ng-model="$ctrl.newChildEnrollmentInfo.child_first_name">
    </div>
    <div class="form-group"
         ng-class="{'has-error': addChildForm.childLastName.$invalid && addChildForm.childLastName.$touched}">
        <label class="control-label">Child Last Name</label>
        <input ng-readonly="$ctrl.readOnly" type="text" class="form-control" name="childLastName" required="true"
               ng-model="$ctrl.newChildEnrollmentInfo.child_last_name">
    </div>
    <div class="form-group"
         ng-class="{'has-error': addChildForm.dateOfBirth.$invalid && addChildForm.dateOfBirth.$touched}">
        <label class="control-label">Date of Birth (Month/Day/Year) - Optional</label>
        <p class="input-group">
            <input name="dateOfBirth"
                   type="text" class="form-control"
                   uib-datepicker-popup="MM/dd/yyyy"
                   datepicker-options="{maxDate: $ctrl.todayDate}"
                   datepicker-popup-template-url="/static/home/datepicker.template.html"
                   ng-model="$ctrl.newChildEnrollmentInfo.child_date_of_birth"
                   is-open="$ctrl.dateOfBirthPickerOpened"
                   ng-readonly="$ctrl.readOnly"
                   ng-click="$ctrl.openDateOfBirthPicker()"
                   close-text="Close"/>
            <span class="input-group-btn">
                                    <button type="button" class="btn btn-default"
                                            ng-click="$ctrl.openDateOfBirthPicker()">
                                        <i class="glyphicon glyphicon-calendar"></i></button></span>
        </p>
    </div>
    <div class="form-group"
         ng-class="{'has-error': addChildForm.email.$invalid && addChild.email.$touched}">
        <label class="control-label">Parent's Email</label>
        <input name="email" type="email"
               class="form-control" required="true"
               ng-readonly="$ctrl.readOnly"
               ng-model="$ctrl.newChildEnrollmentInfo.child_parent_email">
    </div>

    <div class="form-group">
        <label class="control-label" for="program">Program</label>
        <select class="form-control" id="program" required="true"
                ng-readonly="$ctrl.readOnly"
                ng-options="program.programName + ' - ' + program.billingFrequency for program in $ctrl.programs track by program.id"
                ng-model="$ctrl.newChildEnrollmentInfo.program" ng-change="$ctrl.whenSelectedProgramChange()"></select>
        <div class="panel panel-body" ng-show="$ctrl.newChildEnrollmentInfo.program">
            <div>
                <label>Registration fee:</label> <b>{{$ctrl.newChildEnrollmentInfo.program.registrationFee}}</b>
            </div>
            <div>
                <label>Fee: </label> <b>{{$ctrl.newChildEnrollmentInfo.program.fee}}</b>
            </div>
            <div>
                <label>Latefee: </label> <b>{{$ctrl.newChildEnrollmentInfo.program.lateFee}}</b>
            </div>
            <div ng-show="$ctrl.newChildEnrollmentInfo.program.billingFrequency == 'Weekly'">
                <label>Weekly bill day:</label> <b>{{$ctrl.newChildEnrollmentInfo.program.weeklyBillDay}}</b>
            </div>
            <div ng-show="$ctrl.newChildEnrollmentInfo.program.billingFrequency == 'Monthly'">
                <label>Monthly bill day:</label> <b>{{$ctrl.newChildEnrollmentInfo.program.monthlyBillDay}}</b>
            </div>
            <div>
                <label>Start date:</label> <b>{{$ctrl.newChildEnrollmentInfo.program.startDate}}</b>
            </div>
            <div ng-show="$ctrl.newChildEnrollmentInfo.program.indefinite != true">
                <label>End date:</label> <b>{{$ctrl.newChildEnrollmentInfo.program.endDate}}</b>
            </div>
        </div>
    </div>
    <div class="form-group"
         ng-class="{'has-error': addEnrollmentForm.startDate.$invalid && addEnrollmentForm.startDate.$touched}"
         ng-show="$ctrl.newChildEnrollmentInfo.program">
        <label class="control-label">When is the FIRST (or next) fee due? (MM/DD/YYYY)</label>
        <p class="input-group">
            <input name="startDate"
                   type="text" class="form-control"
                   uib-datepicker-popup="MM/dd/yyyy"
                   datepicker-popup-template-url="/static/home/datepicker.template.html"
                   datepicker-options="$ctrl.enrollmentDatePickerOptions"
                   ng-model="$ctrl.newChildEnrollmentInfo.start_date"
                   ng-readonly="$ctrl.readOnly"
                   is-open="$ctrl.startDatePickerOpened"
                   ng-required="true"
                   ng-change="$ctrl.whenChangeStartDate(true)"
                   ng-click="$ctrl.openStartDatePicker()"
                   close-text="Close"/>
            <span class="input-group-btn">
                                    <button type="button" class="btn btn-default"
                                            ng-click="$ctrl.openStartDatePicker()">
                                        <i class="glyphicon glyphicon-calendar"></i></button></span>
        </p>
    </div>
    <div class="form-group"
         ng-class="{'has-error': addEnrollmentForm.endDate.$invalid && addEnrollmentForm.endDate.$touched}"
         ng-show="$ctrl.newChildEnrollmentInfo.program">
        <label class="control-label">When is the LAST fee due? (MM/DD/YYYY)</label>
        <p class="input-group">
            <input name="endDate"
                   type="text" class="form-control"
                   uib-datepicker-popup="MM/dd/yyyy"
                   datepicker-popup-template-url="/static/home/datepicker.template.html"
                   datepicker-options="$ctrl.enrollmentEndDatePickerOptions"
                   ng-model="$ctrl.newChildEnrollmentInfo.end_date"
                   ng-readonly="$ctrl.newChildEnrollmentInfo.no_end_date"
                   is-open="$ctrl.endDatePickerOpened"
                   ng-required="!$ctrl.newChildEnrollmentInfo.no_end_date"
                   close-text="Close"
                   ng-click="$ctrl.openEndDatePicker()"/>
            <span class="input-group-btn">
                                    <button type="button" class="btn btn-default"
                                            ng-click="$ctrl.openEndDatePicker()">
                                        <i class="glyphicon glyphicon-calendar"></i></button></span>
        </p>
        <label>No specific end date
            <input ng-readonly="$ctrl.readOnly" type="checkbox" ng-model="$ctrl.newChildEnrollmentInfo.no_end_date"
                   ng-change="$ctrl.whenChangeNoEndDate()">
        </label>
    </div>
    <div class="form-group">
        <label class="control-label">Waive registration fee?</label>
        <input name="waive_registration" type="checkbox"
               class="form-control" required="false" ng-required="false" ng-readonly="$ctrl.readOnly"
               ng-model="$ctrl.newChildEnrollmentInfo.waive_registration">
    </div>
    <div class="alert alert-success" ng-show="$ctrl.enrollmentStatus=='success'">Enrollment success</div>
    <div class="alert alert-warning" ng-show="$ctrl.enrollmentStatus=='failure'">Enrollment failed.
        {{$ctrl.enrollmentFailureReason}}
    </div>
    <div class="form-group">
        <button class="btn btn-primary" ng-click="$ctrl.save()" ng-show="$ctrl.showSaveButton">Enroll</button>
    </div>
</form>