<div class="programHeader" ng-click="isPageInstructionsOpen = !isPageInstructionsOpen"><b>Children</b> <sup><i class="fa fa-question-circle fa-lg"></i></sup></div>
	<span class="pageInstructions" ng-show="!isPageInstructionsOpen" id="pageInstructions"><i class="fa fa-caret-up fa-3"></i> &nbsp; View/update enrollment status by clicking on a program.</span>
</div>
<div class="programsContainer">
	<div class="programsDiv">
		<div class="childrenListContainer">
			<ol class="childrenList">
				<child-card-parent-view data-ng-repeat="child in $ctrl.children track by $index" child="child" index="$index" flex>
				</child-card-parent-view>
			</ol>
		</div>
	</div>
</div>