<div class="modal-header">
    <button type="button" class="close" ng-click="$ctrl.closeModal()">&times;</button>
    <h4 class="modal-title">Enroll Child:</h4>
</div>
<div class="modal-body">
    <div class="col-centered">
        <form name="addEnrollmentForm" role="form" class="well">

            <div class="enrollment-form-content" ng-show="true"
                 ng-class="{active: true}">

                <span class="input-group-addon angular-with-newlines fee formInstructions"  ng-show="!$ctrl.checkRequirements" >
                 Enrollment email can be sent to parents once you are verified and have setup a bank account.
             </span>

                <div class="form-group">
                    <label class="control-label">Child First Name</label>
                    <p>{{$ctrl.child.first_name}}</p>
                </div>
                <div class="form-group">
                    <label class="control-label">Child Last Name</label>
                    <p>{{$ctrl.child.last_name}}</p>
                </div>

                <div class="form-group" ng-class="{'has-error': $ctrl.newEnrollment.error['program']}">
                    <label class="control-label" for="program">Program</label>
                    <select class="form-control" id="program"
                            required
                            ng-options="program.programName + ' - ' + program.billingFrequency for program in $ctrl.programs track by program.id"
                            ng-model="$ctrl.newEnrollment.program"
                            ng-change="$ctrl.whenSelectedProgramChange()" ng-readonly="$ctrl.readOnly">
                        <option value="">Select a program</option>
                    </select>
                    <div class="panel panel-body" ng-show="$ctrl.newEnrollment.program">
                        <div>
                            <label>Registration fee:</label>
                            <b>${{$ctrl.newEnrollment.program.registrationFee}}</b>
                        </div>
                        <div>
                            <label>Fee: </label> <b>${{$ctrl.newEnrollment.program.fee}}</b>
                        </div>
                        <div>
                            <label>Late fee: </label> <b>${{$ctrl.newEnrollment.program.lateFee}}</b>
                        </div>
                        <div ng-show="$ctrl.newEnrollment.program.billingFrequency == 'Weekly'">
                            <label> Weekly bill day:</label>
                            <b>{{$ctrl.newEnrollment.program.weeklyBillDay}}</b>
                        </div>
                        <div ng-show="$ctrl.newEnrollment.program.billingFrequency == 'Monthly'">
                            <label> Monthly bill day:</label>
                            <b>{{$ctrl.newEnrollment.program.monthlyBillDay}}</b>
                        </div>
                        <div>
                            <label>Start date:</label> <b>{{$ctrl.newEnrollment.program.startDate | date: 'MM/dd/yyyy'}}</b>
                        </div>
                        <div ng-show="$ctrl.newEnrollment.program.indefinite != true">
                            <label>End date:</label> <b>{{$ctrl.newEnrollment.program.endDate | date: 'MM/dd/yyyy'}}</b>
                        </div>
                    </div>
                </div>
                <div class="form-group"
                     ng-class="{'has-error': addEnrollmentForm.startDate.$invalid && addEnrollmentForm.startDate.$touched}"
                     ng-show="$ctrl.newEnrollment.program">
                    <label class="control-label" ng-click="isFeeFormInstructionsOpen = !isFeeFormInstructionsOpen">When
                        is the first (or next) fee due? <sup><i class="fa fa-question-circle-o fa-2x"></i></sup>&nbsp;<small>
                            (MM/DD/YYYY)
                        </small>
                    </label>
                    <p class="input-group">
                        <input name="startDate"
                               type="text" class="form-control"
                               datepicker-popup-template-url="/static/home/datepicker.template.html"
                               uib-datepicker-popup="MM/dd/yyyy"
                               datepicker-options="$ctrl.enrollmentDatePickerOptions"
                               ng-model="$ctrl.newEnrollment.start_date"
                               is-open="$ctrl.startDatePickerOpened"
                               ng-required="true"
                               ng-change="$ctrl.whenChangeStartDate()"
                               ng-click="$ctrl.openStartDatePicker()"
                               ng-readonly="true"
                               style="background-color: white"
                               close-text="Close"/>
                        <span class="input-group-btn">
                                    <button type="button" class="btn btn-default"
                                            ng-click="$ctrl.openStartDatePicker()">
                                        <i class="glyphicon glyphicon-calendar"></i></button></span>
                    </p>

                    <div class="input-group">
                        <span class="input-group-addon angular-with-newlines fee formInstructions"
                              ng-hide="isFeeFormInstructionsOpen" id="formInstructions"
                              ng-click="isFeeFormInstructionsOpen = !isFeeFormInstructionsOpen"><i
                                class="fa fa-caret-up fa-3"></i> &nbsp; You can only select a future due date that corresponds with the selected program.</span>
                    </div>

                </div>


                <div class="form-group"
                     ng-class="{'has-error': addEnrollmentForm.endDate.$invalid && addEnrollmentForm.endDate.$touched}"
                     ng-show="$ctrl.newEnrollment.program">
                    <label class="control-label" ng-click="isFeeFormInstructionsOpen = !isFeeFormInstructionsOpen">When
                        is the LAST fee due? <sup><i class="fa fa-question-circle-o fa-2x"></i></sup>&nbsp;<small>
                            (MM/DD/YYYY)
                        </small>
                    </label>
                    <p class="input-group">
                        <input name="endDate"
                               type="text" class="form-control"
                               datepicker-popup-template-url="/static/home/datepicker.template.html"
                               uib-datepicker-popup="MM/dd/yyyy"
                               datepicker-options="$ctrl.enrollmentEndDatePickerOptions"
                               ng-model="$ctrl.newEnrollment.end_date"
                               is-open="$ctrl.endDatePickerOpened"
                               ng-click="$ctrl.openEndDatePicker()"
                               ng-readonly="true"
                               style="background-color: white"
                               close-text="Close"/>
                        <span class="input-group-btn">
                                    <button type="button" class="btn btn-default"
                                            ng-click="$ctrl.openEndDatePicker()">
                                        <i class="glyphicon glyphicon-calendar"></i></button></span>
                    </p>
                </div>

                <div class="form-group"
                     ng-class="{'has-error': addEnrollmentForm.fee.$invalid && addEnrollmentForm.fee.$touched}"
                     ng-show="$ctrl.newEnrollment.program">
                    <label class="control-label">Program Fee for this Child
                    </label>
                    <input type="number" min="0" class="form-control" id="fee" name="fee"
                           ng-model="$ctrl.newEnrollment.fee" ng-readonly="$ctrl.readOnly">

                </div>
                <div class="form-group" ng-show="$ctrl.newEnrollment.program">
                    <label class="control-label">Waive registration fee (${{ $ctrl.newEnrollment.program.registrationFee }})?
                        <input name="waive_registration" type="checkbox"
                               ng-required="false" ng-readonly="$ctrl.readOnly"
                               ng-model="$ctrl.newEnrollment.waive_registration">
                    </label>
                </div>
            </div>
        </form>
        <div class="alert alert-success" ng-show="$ctrl.enrollmentStatus=='success'">Enrollment successful.</div>
        <div class="alert alert-danger" ng-show="$ctrl.enrollmentStatus=='failure'">Enrollment failed. {{$ctrl.failMessage}}
        </div>
    </div>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-default btn-lg pull-right joobali" ng-disabled="!addEnrollmentForm.$valid"
            ng-click="$ctrl.saveButton.click()" ng-show="$ctrl.saveButton.show">Enroll
    </button>
    <button type="button" class="btn btn-default btn-lg pull-right joobali"
            ng-click="$ctrl.doneButton.click()" ng-show="$ctrl.doneButton.show">Done
    </button>
</div>