<div class="modal-header">
    <button type="button" class="close" ng-click="$ctrl.closeModal()">&times;</button>
    <h4 class="modal-title">Enroll a New Child</h4>
</div>

<div class="modal-body">
    <child-form-content
            programs="$ctrl.programs"
            emails="$ctrl.parent_emails"
            on-save="$ctrl.onSave(isSaved)"
            on-close="$ctrl.closeModal()"></child-form-content>
</div>

<div class="modal-footer">
    <button type="button" class="btn btn-primary" ng-click="$ctrl.saveButton.click()"
            ng-show="$ctrl.saveButton.show">Save
    </button>
    <button type="button" class="btn btn-primary" ng-click="$ctrl.doneButton.click()"
            ng-show="$ctrl.doneButton.show">Done
    </button>
</div>