<form name="addChildForm" role="form" class="well">
    <div class="form-group"
         ng-class="{'has-error': addChildForm.childFirstName.$invalid && addChildForm.childFirstName.$touched}">
        <label class="control-label">Child First Name</label>
        <input ng-readonly="$ctrl.readOnly" type="text" class="form-control" name="childFirstName"
               required="true"
               ng-model="$ctrl.newChildEnrollmentInfo.child_first_name">
    </div>
    <div class="form-group"
         ng-class="{'has-error': addChildForm.childLastName.$invalid && addChildForm.childLastName.$touched}">
        <label class="control-label">Child Last Name</label>
        <input ng-readonly="$ctrl.readOnly" type="text" class="form-control" name="childLastName" required="true"
               ng-model="$ctrl.newChildEnrollmentInfo.child_last_name">
    </div>
    <div class="form-group"
         ng-class="{'has-error': addChildForm.dateOfBirth.$invalid && addChildForm.dateOfBirth.$touched}">
        <label class="control-label">Date of Birth (optional) <small>(MM/DD/YYYY)</small></label>
        <p class="input-group">
            <input name="dateOfBirth"
                   type="text" class="form-control"
                   uib-datepicker-popup="MM/dd/yyyy"
                   datepicker-options="{maxDate: $ctrl.todayDate}"
                   datepicker-popup-template-url="/static/home/datepicker.template.html"
                   ng-model="$ctrl.newChildEnrollmentInfo.child_date_of_birth"
                   is-open="$ctrl.dateOfBirthPickerOpened"
                   ng-readonly="$ctrl.readOnly"
                   ng-click="$ctrl.openDateOfBirthPicker()"
                   close-text="Close"/>
            <span class="input-group-btn">
                                    <button type="button" class="btn btn-default"
                                            ng-click="$ctrl.openDateOfBirthPicker()">
                                        <i class="glyphicon glyphicon-calendar"></i></button></span>
        </p>
    </div>
    <div class="form-group"
         ng-class="{'has-error': addChildForm.email.$invalid && addChild.email.$touched}"
         ng-show="!$ctrl.isAddNewParent">


        <label class="control-label">Select Existing Parent</label>
        <button class="btn btn-default btn-sm pull-right joobali"
                ng-click="$ctrl.newParentToggle()"
                formnovalidate>
            Add new parent
        </button>
        <select class="form-control"
                ng-required="!$ctrl.isAddNewParent"
                ng-readonly="$ctrl.readOnly"
                ng-options="email for email in $ctrl.emails"
                ng-model="$ctrl.newChildEnrollmentInfo.child_parent_email"
                ng-value="$ctrl.newChildEnrollmentInfo.child_parent_email">
        </select>
    </div>
    <div class="form-group"
         ng-class="{'has-error': addChildForm.email.$invalid && addChild.email.$touched}"
         ng-show="$ctrl.isAddNewParent">

        <label class="control-label">Parent's Email</label>
        <button class="btn btn-default btn-sm pull-right joobali"
                ng-click="$ctrl.newParentToggle()"
                formnovalidate>
            Add existing parent
        </button>
        <input name="email"
               type="email"
               class="form-control" ng-required="$ctrl.isAddNewParent"
               ng-readonly="$ctrl.readOnly"
               ng-model="$ctrl.newChildEnrollmentInfo.child_parent_email">
    </div>

    <div class="form-group" ng-class="{'has-error': $ctrl.newChildEnrollmentInfo.error['program']}">
        <label class="control-label" for="program">Program</label>
        <select class="form-control" id="program" required
                ng-readonly="$ctrl.readOnly"
                ng-options="program.programName + ' - ' + program.billingFrequency for program in $ctrl.programs track by program.id"
                ng-model="$ctrl.newChildEnrollmentInfo.program" ng-change="$ctrl.whenSelectedProgramChange()">
            <option value="">Select a program</option>
        </select>
        <div class="panel panel-body" ng-show="$ctrl.newChildEnrollmentInfo.program">
            <div>
                <label>Registration fee:</label> <b>${{$ctrl.newChildEnrollmentInfo.program.registrationFee}}</b>
            </div>
            <div>
                <label>Fee: </label> <b>${{$ctrl.newChildEnrollmentInfo.program.fee}}</b>
            </div>
            <div>
                <label>Late fee: </label> <b>${{$ctrl.newChildEnrollmentInfo.program.lateFee}}</b>
            </div>
            <div ng-show="$ctrl.newChildEnrollmentInfo.program.billingFrequency == 'Weekly'">
                <label>Weekly bill day:</label> <b>{{$ctrl.newChildEnrollmentInfo.program.weeklyBillDay}}</b>
            </div>
            <div ng-show="$ctrl.newChildEnrollmentInfo.program.billingFrequency == 'Monthly'">
                <label>Monthly bill day:</label> <b>{{$ctrl.newChildEnrollmentInfo.program.monthlyBillDay}}</b>
            </div>
            <div>
                <label>Start date:</label> <b>{{$ctrl.newChildEnrollmentInfo.program.startDate | date: 'MM/dd/yyyy': 'PST'}}</b>
            </div>
            <div ng-show="$ctrl.newChildEnrollmentInfo.program.indefinite != true">
                <label>End date:</label> <b>{{$ctrl.newChildEnrollmentInfo.program.endDate | date: 'MM/dd/yyyy': 'PST'}}</b>
            </div>
        </div>
    </div>
    <div class="form-group"
         ng-class="{'has-error': addEnrollmentForm.startDate.$invalid && addEnrollmentForm.startDate.$touched}"
         ng-show="$ctrl.newChildEnrollmentInfo.program">
        <label class="control-label" ng-click="isFeeFormInstructionsOpen = !isFeeFormInstructionsOpen">When is the first
            (or next) fee due? <sup><i class="fa fa-question-circle-o fa-2x"></i></sup>&nbsp;<small>(MM/DD/YYYY)</small>
        </label>
        <p class="input-group">
            <input name="startDate"
                   type="text" class="form-control"
                   uib-datepicker-popup="MM/dd/yyyy"
                   datepicker-popup-template-url="/static/home/datepicker.template.html"
                   datepicker-options="$ctrl.enrollmentDatePickerOptions"
                   ng-model="$ctrl.newChildEnrollmentInfo.start_date"
                   ng-readonly="$ctrl.readOnly"
                   is-open="$ctrl.startDatePickerOpened"
                   ng-required="true"
                   ng-change="$ctrl.whenChangeStartDate(true)"
                   ng-click="$ctrl.openStartDatePicker()"
                   close-text="Close"/>
            <span class="input-group-btn">
                                    <button type="button" class="btn btn-default"
                                            ng-click="$ctrl.openStartDatePicker()">
                                        <i class="glyphicon glyphicon-calendar"></i></button></span>
        </p>

        <div class="input-group">
            <span class="input-group-addon angular-with-newlines fee formInstructions"
                  ng-show="isFeeFormInstructionsOpen" id="formInstructions"><i class="fa fa-caret-up fa-3"></i> &nbsp; You can only select a due date based on your selected program.</span>
        </div>

    </div>
		
    <div class="form-group"
         ng-class="{'has-error': addEnrollmentForm.endDate.$invalid && addEnrollmentForm.endDate.$touched}"
         ng-show="$ctrl.newChildEnrollmentInfo.program">
        <label class="control-label">When is the LAST fee due? (optional) <small>(MM/DD/YYYY)</small></label>
        <p class="input-group">
            <input name="endDate"
                   type="text" class="form-control"
                   uib-datepicker-popup="MM/dd/yyyy"
                   datepicker-popup-template-url="/static/home/datepicker.template.html"
                   datepicker-options="$ctrl.enrollmentEndDatePickerOptions"
                   ng-model="$ctrl.newChildEnrollmentInfo.end_date"
                   ng-readonly="$ctrl.readOnly"
                   is-open="$ctrl.endDatePickerOpened"
                   close-text="Close"
                   ng-click="$ctrl.openEndDatePicker()"/>
            <span class="input-group-btn">
                                    <button type="button" class="btn btn-default"
                                            ng-click="$ctrl.openEndDatePicker()">
                                        <i class="glyphicon glyphicon-calendar"></i></button></span>
        </p>
    </div>
    <div class="form-group"
         ng-class="{'has-error': addEnrollmentForm.fee.$invalid && addEnrollmentForm.fee.$touched}"
         ng-show="$ctrl.newChildEnrollmentInfo.program">
        <label class="control-label">Override Program Cost for this Child?
        </label>
        <input type="number" min="0" class="form-control" id="fee" name="fee"
               ng-required="true" ng-model="$ctrl.newChildEnrollmentInfo.fee">

    </div>
    <div class="form-group" ng-show="$ctrl.newChildEnrollmentInfo.program">
        <label class="control-label">Waive registration fee (${{ $ctrl.newChildEnrollmentInfo.program.registrationFee }})?
            <input name="waive_registration" type="checkbox"
                   ng-required="false" ng-readonly="$ctrl.readOnly"
                   ng-model="$ctrl.newChildEnrollmentInfo.waive_registration">
        </label>
    </div>
    <div class="form-group" ng-show="$ctrl.newChildEnrollmentInfo.program && !$ctrl.newChildEnrollmentInfo.waive_registration">
        <label class="control-label">Registration fee already paid?
            <input name="registration_fee_paid" type="checkbox"
                   ng-required="false" ng-readonly="$ctrl.readOnly"
                   ng-model="$ctrl.newChildEnrollmentInfo.registration_fee_paid">
        </label>
    </div>
    <div class="form-group" ng-if="$ctrl.newChildEnrollmentInfo.registration_fee_paid && !$ctrl.newChildEnrollmentInfo.waive_registration">
        <label class="control-label" for="payer">Payer:</label>
        <div class="input-group" style="width:100%;">
            <input class="form-control" type="text" id="payer" name="payer"
                   ng-required="true"  ng-model="$ctrl.newChildEnrollmentInfo.payer">
            </input>
        </div>
    </div>
    <div class="form-group" ng-if="$ctrl.newChildEnrollmentInfo.registration_fee_paid && !$ctrl.newChildEnrollmentInfo.waive_registration">
        <label class="control-label">Payment Date <small>(MM/DD/YYYY)</small></label>
        <p class="input-group">
            <input name="payment_date"
                   type="text" class="form-control"
                   uib-datepicker-popup="MM/dd/yyyy"
                   datepicker-popup-template-url="/static/home/datepicker.template.html"
                   datepicker-options="{maxDate: $ctrl.todayDate}"
                   ng-model="$ctrl.newChildEnrollmentInfo.payment_date"
                   is-open="$ctrl.paymentDatePickerOpened"
                   ng-click="$ctrl.openPaymentDatePicker()"
                   ng-required="true"
                   close-text="Close"/>
            <span class="input-group-btn">
                            <button type="button" class="btn btn-default"
                                    ng-click="$ctrl.openPaymentDatePicker()">
                                <i class="glyphicon glyphicon-calendar"></i></button></span>
        </p>
    </div>
    <div class="form-group" ng-if="$ctrl.newChildEnrollmentInfo.registration_fee_paid && !$ctrl.newChildEnrollmentInfo.waive_registration">
        <label class="control-label" for="payment_type">Payment Type</label>
        <select class="form-control" id="payment_type"  ng-required="true" ng-model="$ctrl.newChildEnrollmentInfo.payment_type"
                ng-options="paymentType as paymentType.label for paymentType in $ctrl.paymentTypes track by paymentType.id">
        </select>
    </div>
    <div class="form-group" ng-if="$ctrl.newChildEnrollmentInfo.registration_fee_paid && !$ctrl.newChildEnrollmentInfo.waive_registration && ($ctrl.newChildEnrollmentInfo.payment_type.id=='Other' || $ctrl.newChildEnrollmentInfo.payment_type.id=='Check')">
        <label  ng-show="$ctrl.newChildEnrollmentInfo.payment_type.id=='Other'"
                class="control-label" for="note">Note (required if payment type is Other)</label>
        <label  ng-show="$ctrl.newChildEnrollmentInfo.payment_type.id=='Check'"
                class="control-label" for="note">Check #</label>
        <input class="form-control" type="text" id="note" name="note"
               ng-required="$ctrl.newChildEnrollmentInfo.payment_type.id=='Other'"  ng-model="$ctrl.newChildEnrollmentInfo.note">
        </input>
    </div>
    <div class="alert alert-success" ng-show="$ctrl.enrollmentStatus=='success'">Enrollment success.</div>
    <div class="alert alert-danger" ng-show="$ctrl.enrollmentStatus=='failure'">Enrollment failed.
        {{$ctrl.enrollmentFailureReason}}
    </div>
		
    <div class="modal-footer">
        <div class="formActions">
            <center>
                <button class="btn btn-default btn-lg pull-right joobali" ng-click="$ctrl.save()" ng-show="$ctrl.showSaveButton" ng-disabled="$ctrl.disableSaveButton">Enroll</button>
                <a type="button" class="pull-left delete" data-dismiss="modal" data-backdrop="false" ng-click="$ctrl.cancel()" ng-show="$ctrl.enrollmentStatus!='success'">&laquo; Cancel</a>
            </center>
        </div> <!-- end formActions -->
        <!-- <center><button id="saveButton" type="button" class="btn btn-default joobali" ng-click="$ctrl.handleSave()">Save</button></center> -->

    </div>
		
    <!-- <div class="form-group">
        <button class="btn btn-default btn-lg pull-right joobali" ng-click="$ctrl.save()" ng-show="$ctrl.showSaveButton" ng-disabled="$ctrl.disableSaveButton">Enroll</button>
    </div> -->
</form>