<div class="programHeader" ng-click="isPageInstructionsOpen = !isPageInstructionsOpen"><b>Children</b> <!-- <sup><i class="fa fa-question-circle fa-lg"> --></i></sup></div>
	<!-- <span class="pageInstructions"><i class="fa fa-caret-up fa-3"></i> &nbsp; Children instructions here.</span> -->
<div class="programsContainer">
	<div class="programsDiv">
		<div class="buttonDiv addChildButtonDiv pull-left">
			<a class="btn btn-default btn-lg pull-right programHeader joobali" ng-click="$ctrl.openAddChildModal()">
				Enroll a new Child&nbsp;&nbsp;<i class="fa fa-plus-circle fa-lg"></i>
			</a>
		</div>
		<div class="child-list-filter-options pull-right">
			<span class="label label-default">Filter by Program</span>
			<select class="form-control"
					ng-options="program.id + '-' + program.programName for program in $ctrl.programs track by program.id"
					ng-model="$ctrl.selectedFilteringProgram"
					ng-change="$ctrl.updateFilteringProgram()">
				<option value="">All Programs</option>
			</select>
		</div>

		<div class="child-list-filter-options pull-right">
			<span class="label label-default">Min Age</span>
			<input class="form-control" ng-model="$ctrl.minAge" placeholder="Try '6 months'">
		</div>

		<div class="child-list-filter-options pull-right">
			<span class="label label-default">Max Age</span>
			<input class="form-control" ng-model="$ctrl.maxAge" placeholder="Try '1 years'">
			</input>
		</div>
	</div>

	<div>
      <ol class="childrenList">
				<li style="list-style-type: none">
          <child-card data-ng-repeat="child in $ctrl.children | childAgeFilter: $ctrl.minAge:$ctrl.maxAge " child="child" programs="$ctrl.programs" flex></child-card>
				</li>
      </ol>
  </div>
</div>