<div class="child-card panel" ng-mouseenter="$ctrl.showEnrollment = true" ng-mouseleave="$ctrl.showEnrollment = false">

    <div class="child-card-container">
        <table>
            <!-- <th><td></td></th> -->
            <tr>
                <td>Name:</td>
                <td><strong><a  href="#" editable-text="$ctrl.child.first_name" e-required e-formclass="enrollProgram" onaftersave="$ctrl.updateChild()">{{ $ctrl.child.first_name || 'Missing' }}</a> <a href="#" editable-text="$ctrl.child.last_name"  e-required e-formclass="enrollProgram"  onaftersave="$ctrl.updateChild()">{{ $ctrl.child.last_name || 'Missing' }}</a></strong></td>

            </tr>
            <tr>
                <td>Birthday:</td>
                <td><a href="#" editable-bsdate="$ctrl.child.date_of_birth"
                       e-datepicker-popup="MM/dd/yyyy"
                       e-readonly="true"
                       e-show-button-bar="false"
                       e-required
                       e-datepicker-options="{maxDate: $ctrl.todayDate}"
                       e-is-open="opened.$data" e-ng-click="open($event,'$data')"
                      onaftersave="$ctrl.updateChild('dob')">{{ ($ctrl.child.date_of_birth| date:"MM/dd/yyyy") || 'Missing'}}</a>
                </td>
            </tr>
            <tr>
                <td>Age:</td>
                <td>{{$ctrl.child.age}}</td>
            </tr>
            <tr>
                <td>Parent:</td>
                <td>{{$ctrl.child.parent_name}}</td>
            </tr>
            <tr>
                <td>Email:</td>
                <td><a href="mailto:{{$ctrl.child.parent_email}}">{{$ctrl.child.parent_email}}</a></td>
            </tr>
        </table>
    </div>

    <div class="child-enrollment-container">
        <!-- <div class="child-enrollment-container" ng-show="$ctrl.showEnrollment && ($ctrl.enrollments.length > 0)"> -->
        <!-- <label>Enrollment Information:</label><br> -->
        <enrollment-list child="$ctrl.child" enrollments="$ctrl.enrollments"></enrollment-list>
        <div class="addToProgram">
            <!-- <a class="enrollProgram" ng-click="$ctrl.openEnrollmentModal()">Add to Program</a> -->
            <a class="enrollProgram" ng-click="$ctrl.openEnrollmentModal()"><i class="fa fa-plus-circle fa-lg"></i>&nbsp; Enroll this Child</a>
        </div>
    </div>
</div>