<div class="modal-header">
    <button type="button" class="close" ng-click="$ctrl.closeModal()">&times;</button>
    <h4 class="modal-title">Add a New Enrollment: </h4>
    <div class="stepsDiv">
        <ul class="nav nav-pills nav-wizard">
            <li class="form-nav" ng-class="{active: $ctrl.currentStep==0}">
                <a href="#">Enter Enrollment Information</a>
                <div class="nav-arrow"></div>
            </li>
            <li class="form-nav" ng-class="{active: $ctrl.currentStep==1}">
                <div class="nav-wedge"></div>
                <a href="#">Review</a>
                <div class="nav-arrow"></div>
            </li>
        </ul>
    </div>
</div>
<div class="modal-body">
    <div class="col-centered">
        <form name="addEnrollmentForm" role="form" class="well">

            <div class="enrollment-form-content" ng-show="$ctrl.currentStep==0"
                 ng-class="{active: $ctrl.currentStep==0}">
                <div class="form-group">
                    <label class="control-label">Child First Name</label>
                    <p>{{$ctrl.child.first_name}}</p>
                </div>
                <div class="form-group">
                    <label class="control-label">Child Last Name</label>
                    <p>{{$ctrl.child.last_name}}</p>
                </div>
                <div class="form-group">
                    <label class="control-label" for="program">Program</label>
                    <select class="form-control" id="program" required="true"
                            ng-options="program.programName + ' - ' + program.billingFrequency for program in $ctrl.programs track by program.id"
                            ng-model="$ctrl.newEnrollment.program"
                            ng-change="$ctrl.whenSelectedProgramChange()"></select>
                    <div class="panel panel-body" ng-show="$ctrl.newEnrollment.program">
                        <div>
                            <label>Registration fee:</label>
                            <b>{{$ctrl.newEnrollment.program.registrationFee}}</b>
                        </div>
                        <div>
                            <label>Fee: </label> <b>{{$ctrl.newEnrollment.program.fee}}</b>
                        </div>
                        <div>
                            <label>Latefee: </label> <b>{{$ctrl.newEnrollment.program.lateFee}}</b>
                        </div>
                        <div ng-show="$ctrl.newEnrollment.program.billingFrequency == 'Weekly'">
                            <label> Weekly bill day:</label>
                            <b>{{$ctrl.newEnrollment.program.weeklyBillDay}}</b>
                        </div>
                        <div ng-show="$ctrl.newEnrollment.program.billingFrequency == 'Monthly'">
                            <label> Monthly bill day:</label>
                            <b>{{$ctrl.newEnrollment.program.monthlyBillDay}}</b>
                        </div>
                    </div>
                </div>
                <div class="form-group"
                     ng-class="{'has-error': addEnrollmentForm.startDate.$invalid && addEnrollmentForm.startDate.$touched}"
                     ng-show="$ctrl.newEnrollment.program">
                    <label class="control-label">When is the first (or next) fee due? (MM/DD/YYYY)</label>
                    <p class="input-group">
                        <input name="startDate"
                               type="text" class="form-control"
                               datepicker-popup-template-url="/static/home/datepicker.template.html"
                               uib-datepicker-popup="MM/dd/yyyy"
                               datepicker-options="$ctrl.enrollmentDatePickerOptions"
                               ng-model="$ctrl.newEnrollment.start_date"
                               is-open="$ctrl.startDatePickerOpened"
                               ng-required="true"
                               ng-change="$ctrl.whenChangeStartDate()"
                               ng-click="$ctrl.openStartDatePicker()"
                               close-text="Close"/>
                        <span class="input-group-btn">
                                    <button type="button" class="btn btn-default"
                                            ng-click="$ctrl.openStartDatePicker()">
                                        <i class="glyphicon glyphicon-calendar"></i></button></span>
                    </p>
                </div>
                <div class="form-group"
                     ng-class="{'has-error': addEnrollmentForm.endDate.$invalid && addEnrollmentForm.endDate.$touched}"
                     ng-show="$ctrl.newEnrollment.program">
                    <label class="control-label">When is the last fee due? (MM/DD/YYYY)</label>
                    <p class="input-group">
                        <input name="endDate"
                               type="text" class="form-control"
                               datepicker-popup-template-url="/static/home/datepicker.template.html"
                               uib-datepicker-popup="MM/dd/yyyy"
                               datepicker-options="$ctrl.enrollmentEndDatePickerOptions"
                               ng-model="$ctrl.newEnrollment.end_date"
                               is-open="$ctrl.endDatePickerOpened"
                               ng-required="!$ctrl.newEnrollment.no_end_date"
                               ng-readonly="$ctrl.newEnrollment.no_end_date"
                               ng-click="$ctrl.openEndDatePicker()"
                               close-text="Close"/>
                        <span class="input-group-btn">
                                    <button type="button" class="btn btn-default"
                                            ng-click="$ctrl.openEndDatePicker()">
                                        <i class="glyphicon glyphicon-calendar"></i></button></span>
                    </p>
                    <label> No specific end date
                        <input type="checkbox" ng-model="$ctrl.newEnrollment.no_end_date"
                               ng-change="$ctrl.whenChangeNoEndDate()">
                    </label>
                </div>
                <div class="form-group">
                    <label class="control-label">Waive registration fee?</label>
                    <input name="waive_registration" type="checkbox"
                           class="form-control" required="false" ng-required="false" ng-readonly="$ctrl.readOnly"
                           ng-model="$ctrl.newEnrollment.waive_registration">
                </div>
            </div>
            <div class="enrollment-form-content" ng-show="$ctrl.currentStep==1"
                 ng-class="{active: $ctrl.currentStep==1}">
                <div class="form-group">
                    <label class="control-label">Child First Name</label>
                    <div>{{$ctrl.child.first_name}}</div>
                    <label class="control-label">Child Last Name</label>
                    <div>{{$ctrl.child.last_name}}</div>
                    <label class="control-label">Program</label>
                    <div>
                        {{$ctrl.newEnrollment.program.programName}} - {{$ctrl.newEnrollment.program.billingFrequency}}
                    </div>
                    <label class="control-label">Start Date</label>
                    <div>{{$ctrl.newEnrollment.start_date}}</div>
                    <div ng-show="$ctrl.newEnrollment.no_end_date">No end date</div>
                    <div ng-show="!$ctrl.newEnrollment.no_end_date">
                        <label class="control-label">End Date</label>
                        <div>
                            {{$ctrl.newEnrollment.end_date}}
                        </div>
                    </div>
                    <div ng-show="$ctrl.newEnrollment.waive_registration==true">Waive registration fee</div>
                    <div ng-show="$ctrl.newEnrollment.waive_registration==undefined">Include registration fee</div>
                </div>
            </div>
        </form>
        <div class="alert alert-success" ng-show="$ctrl.enrollmentStatus=='success'">Enroll Success!</div>
        <div class="alert alert-warning" ng-show="$ctrl.enrollmentStatus=='failure'">Enroll Fail! {{$ctrl.failMessage}}
        </div>
    </div>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-default"
            ng-click="$ctrl.nextButton.click()" ng-show="$ctrl.nextButton.show">Next
    </button>
    <button type="button" class="btn btn-primary"
            ng-click="$ctrl.saveButton.click()" ng-show="$ctrl.saveButton.show">Enroll
    </button>
    <button type="button" class="btn btn-primary"
            ng-click="$ctrl.doneButton.click()" ng-show="$ctrl.doneButton.show">Done
    </button>
</div>