.addChildButtonDiv {
	overflow: hidden;
    margin: 10px 10px;
}

.enrollmentTableButton {
	float: right;
}

.childOverviewForm {
}

.child-card{
	margin: 25px 10px;
  border-radius: 4px;
  /* border-color: rgba(0,0,0,0.05); */
  transition: 0.1s;
  background: white;
  box-shadow: 0 0px 67px 0 rgba(0,0,0,0.1);
	display: block;
}

.child-card:hover {
	box-shadow:0 0px 27px 0 rgba(0,0,0,0.2);		
	transition: 0.1s;
}

.child-card-group {
    width: 80%;
    display: table
}

.child-card-container {
    padding: 2px 16px;
/*    float: left;
    display: inline-block;*/
		width:100%;
    display: block;
}

.child-card-container tr td {
	text-transform:uppercase;
	font-size:smaller;
}

.child-list-filter-options {
    padding: 2px 16px;
    /*box-shadow:0 0px 27px 0 rgba(0,0,0,0.2);*/
}

.stepsDiv {
	width: 63%;
	margin: 0 auto;
}

@media screen and (max-width: 768px) {
	.stepsDiv {
		width: 100%;
		margin: 0 auto;
	}
	.nav {
	    width: 480px;
	    margin: 0 auto;
	}
}

@media screen and (max-width: 485px) {
	.nav {
	    width: 100%;
	    margin: 0 auto;
	}
}

#addChildNextButton {
	visibility: visible;
}

#addChildSaveButton {
	display: none;
}

#addChildDoneButton {
	display: none;
}

@media screen and (max-width: 768px) {
	.nav {
	  width: 480px;
		margin:0 auto;
	}
}
.nav-pills.nav-wizard > li {
  position: relative;
  overflow: visible;
  border-right: 15px solid transparent;
  border-left: 15px solid transparent;
}
.nav-pills.nav-wizard > li + li {
  margin-left:0;
}
.nav-pills.nav-wizard > li:first-child {
  border-left: 0;
}
.nav-pills.nav-wizard > li:first-child a {
  border-radius: 5px 0 0 5px;
}
.nav-pills.nav-wizard > li:last-child {
  border-right: 0;
}
.nav-pills.nav-wizard > li:last-child a {
  border-radius: 0;
}
.nav-pills.nav-wizard > li a {
  border-radius: 0;
  background-color: #eee;
}
.nav-pills.nav-wizard > li .nav-arrow {
  position: absolute;
  top: 0px;
  right: -20px;
  width: 0px;
  height: 0px;
  border-style: solid;
  border-width: 20px 0 20px 20px;
  border-color: transparent transparent transparent #eee;
  z-index: 150;
}
.nav-pills.nav-wizard > li .nav-wedge {
  position: absolute;
  top: 0px;
  left: -20px;
  width: 0px;
  height: 0px;
  border-style: solid;
  border-width: 20px 0 20px 20px;
  border-color: #eee #eee #eee transparent;
  z-index: 150;
}
.nav-pills.nav-wizard > li:hover .nav-arrow {
  border-color: transparent transparent transparent #aaa;
}
.nav-pills.nav-wizard > li:hover .nav-wedge {
  border-color: #aaa #aaa #aaa transparent;
}
.nav-pills.nav-wizard > li:hover a {
  background-color: #aaa;
  color: #fff;
}

.nav-pills.nav-wizard > li.active .nav-arrow {
  border-color: transparent transparent transparent #428BCA;
}
.nav-pills.nav-wizard > li.active .nav-wedge {
  border-color: #428BCA #428BCA #428BCA transparent;
}
.nav-pills.nav-wizard > li.active a {
  background-color: #428BCA;
  color: #fff;
}

.nav-pills.nav-wizard > li.current .nav-arrow {
  border-color: transparent transparent transparent #428bca;
}
.nav-pills.nav-wizard > li.current .nav-wedge {
  border-color: #428bca #428bca #428bca transparent;
}
.nav-pills.nav-wizard > li.current a {
  background-color: #428bca;
  color: #fff;
}

.stepsDiv {
	width: 80% !important;
	margin:0 auto !important;
}

.nav {
  margin: 0 auto !important;
}

.programField {
	width: 150px;
	text-align: right;
	display: inline-block;
}

.programValue {
	margin-left: 10px;
	display: inline-block;
}

.form-content.current {
	display: block;
}

.form-content {
	display: none;
}

#nextButton {
	visibility: visible;
}

#saveButton {
	visibility: visible;
}

.panel {
	background:none;
}

th.ng-binding.ng-scope {
	background:lightgray;
	color:#6E6E6E;
	border:none;
	text-align:center;
}


child-list-parent-view .childrenList th, enrollment-parent-view th {
  background: darkgray;
  color: #6E6E6E;
  border: none;
  text-align: center;
	text-transform:uppercase;
	font-size:smaller;
}

child-list-parent-view th, child-list-parent-view td, enrollment-parent-view th, enrollment-parent-view td {
	padding:10px;
}

@media (min-width: 982px) {
	.stepsDiv {
		width: 90%;
	}
}

@media (min-width: 840px) {
	.modal-dialog {
		width: 66% !important;
		margin: auto !important;
	}
}

@media (min-width: 525px) {
	.stepsDiv {
		width:380px;
	}
}

@media (max-width: 925px) {
	.child-card {
		display:grid;
	}
	.child-card-container, .child-enrollment-container {
		display: block;
    font-size: small;
		width:98%;
	}
	.enrollmentList td, .enrollmentProgramDetails td {
		display:block;
		text-align: left;
		border:none;
	}
	
	.enrollmentList td:nth-of-type(1):before { content: "Program Name: ";}
	.enrollmentList td:nth-of-type(2):before { content: "Status: ";}
	.enrollmentList td:nth-of-type(3):before { content: "Start Date: ";}
	.enrollmentList td:nth-of-type(4):before { content: "End Date: "; }
	.enrollmentList td:nth-of-type(5):before { content: "Billing Frequency: ";}
	.enrollmentList td:nth-of-type(6):before { content: "Autopay?: ";}
	.enrollmentList td:nth-of-type(7):before { content: ;}
	
	.enrollmentList td:before, enrollment-parent-view td:before {text-transform:uppercase; font-size:smaller; font-weight:bold;}
	
	child-list-parent-view .enrollmentList td:nth-of-type(1):before { content: "Provider: ";}
	child-list-parent-view .enrollmentList td:nth-of-type(2):before { content: "Program: ";}
	child-list-parent-view .enrollmentList td:nth-of-type(3):before { content: "Status: ";}
	child-list-parent-view .enrollmentList td:nth-of-type(4):before { content: "Start Date: ";}
	child-list-parent-view .enrollmentList td:nth-of-type(5):before { content: "Autopay?: ";}
	
	enrollment-parent-view .enrollmentProgramDetails td:nth-of-type(1):before { content: "Program: ";}
	enrollment-parent-view .enrollmentProgramDetails td:nth-of-type(2):before { content: "Program Registration Fee: ";}
	enrollment-parent-view .enrollmentProgramDetails td:nth-of-type(3):before { content: "Billing Frequency: ";}
	enrollment-parent-view .enrollmentProgramDetails td:nth-of-type(4):before { content: "Late Fee: ";}
	enrollment-parent-view .enrollmentProgramDetails td:nth-of-type(5):before { content: "Enrollment Start: ";}
	enrollment-parent-view .enrollmentProgramDetails td:nth-of-type(6):before { content: "Enrollment Status: ";}
		
	.child-enrollment-container{
		width:90%;
		margin:10px 5% 0 5%;
	  display: block;
	}
	
	.enrollmentList th, .enrollmentProgramDetails th {
		max-width:40px;
		text-overflow:ellipsis;
		overflow:hidden;
		display:none;
	}
	
	.addToProgram {
	    margin: 10px;
	    display: block;
	    position: relative;
	}
	.enrollProgram {
		float:none;
	}
}
	

/* Override Datepicker z-index in order to pop out before modal window. */
.datepicker{z-index:1151 !important;}

.full button span {
    background-color: limegreen;
    border-radius: 32px;
    color: black;
}
.partially button span {
    background-color: orange;
    border-radius: 32px;
    color: black;
}

