.addChildButtonDiv {
	overflow: hidden;
    margin: 10px 10px;
}

.enrollmentTableButton {
	float: right;
}

.childOverviewForm {
}

.child-card{
    /* Add shadows to create the "card" effect */
    margin: 10px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    background: white;
}

.child-card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.child-card-group {
    width: 80%;
    display: table
}



/* Add some padding inside the card container */
.child-card-container {
    padding: 2px 16px;
}

.stepsDiv {
	width: 63%;
	margin: 0 auto;
}

@media screen and (max-width: 768px) {
	.stepsDiv {
		width: 100%;
		margin: 0 auto;
	}
	.nav {
	    width: 480px;
	    margin: 0 auto;
	}
}

@media screen and (max-width: 485px) {
	.nav {
	    width: 100%;
	    margin: 0 auto;
	}
}


.child-form-content {
	visibility: hidden;
}

.child-form-content.active {
	visibility: visible;
}

#addChildNextButton {
	visibility: visible;
}

#addChildSaveButton {
	display: none;
}

#addChildDoneButton {
	display: none;
}

@media screen and (max-width: 768px) {
	.nav {
	  width: 480px;
		margin:0 auto;
	}
}
.nav-pills.nav-wizard > li {
  position: relative;
  overflow: visible;
  border-right: 15px solid transparent;
  border-left: 15px solid transparent;
}
.nav-pills.nav-wizard > li + li {
  margin-left:0;
}
.nav-pills.nav-wizard > li:first-child {
  border-left: 0;
}
.nav-pills.nav-wizard > li:first-child a {
  border-radius: 5px 0 0 5px;
}
.nav-pills.nav-wizard > li:last-child {
  border-right: 0;
}
.nav-pills.nav-wizard > li:last-child a {
  border-radius: 0;
}
.nav-pills.nav-wizard > li a {
  border-radius: 0;
  background-color: #eee;
}
.nav-pills.nav-wizard > li .nav-arrow {
  position: absolute;
  top: 0px;
  right: -20px;
  width: 0px;
  height: 0px;
  border-style: solid;
  border-width: 20px 0 20px 20px;
  border-color: transparent transparent transparent #eee;
  z-index: 150;
}
.nav-pills.nav-wizard > li .nav-wedge {
  position: absolute;
  top: 0px;
  left: -20px;
  width: 0px;
  height: 0px;
  border-style: solid;
  border-width: 20px 0 20px 20px;
  border-color: #eee #eee #eee transparent;
  z-index: 150;
}
.nav-pills.nav-wizard > li:hover .nav-arrow {
  border-color: transparent transparent transparent #aaa;
}
.nav-pills.nav-wizard > li:hover .nav-wedge {
  border-color: #aaa #aaa #aaa transparent;
}
.nav-pills.nav-wizard > li:hover a {
  background-color: #aaa;
  color: #fff;
}

.nav-pills.nav-wizard > li.active .nav-arrow {
  border-color: transparent transparent transparent #428BCA;
}
.nav-pills.nav-wizard > li.active .nav-wedge {
  border-color: #428BCA #428BCA #428BCA transparent;
}
.nav-pills.nav-wizard > li.active a {
  background-color: #428BCA;
  color: #fff;
}

.nav-pills.nav-wizard > li.current .nav-arrow {
  border-color: transparent transparent transparent #428bca;
}
.nav-pills.nav-wizard > li.current .nav-wedge {
  border-color: #428bca #428bca #428bca transparent;
}
.nav-pills.nav-wizard > li.current a {
  background-color: #428bca;
  color: #fff;
}

.stepsDiv {
	width: 80% !important;
	margin:0 auto !important;
}

.nav {
  margin: 0 auto !important;
}

.programField {
	width: 150px;
	text-align: right;
	display: inline-block;
}

.programValue {
	margin-left: 10px;
	display: inline-block;
}

.form-content.current {
	display: block;
}

.form-content {
	display: none;
}

#nextButton {
	visibility: visible;
}

#saveButton {
	visibility: visible;
}

@media (min-width: 982px) {
	.stepsDiv {
		width: 90%;
	}
}

@media (min-width: 840px) {
	.modal-dialog {
		width: 66% !important;
		margin: auto !important;
	}
}

@media (min-width: 525px) {
	.stepsDiv {
		width:380px;
	}
}

/* Override Datepicker z-index in order to pop out before modal window. */
.datepicker{z-index:1151 !important;}

.full button span {
    background-color: limegreen;
    border-radius: 32px;
    color: black;
}
.partially button span {
    background-color: orange;
    border-radius: 32px;
    color: black;
}

