<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, shrink-to-fit=no, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Joobali Parent Portal</title>
    <link rel="shortcut icon" type="image/png" href="{{STATIC_URL}}home/pics/favicon.ico"/>

    <!-- CSS -->
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ STATIC_URL }}home/style.css"/>
    <link rel="stylesheet" href="{{ STATIC_URL }}home/sidebar.css">
    <link rel="stylesheet" href="{{ STATIC_URL }}home/init_setup_component_style.css">
    <link rel="stylesheet" href="{{ STATIC_URL }}home/autopay_setup_form_component_style.css">
    <link rel="stylesheet" href="{{ STATIC_URL }}home/payment_setup_component_style.css">
    <link rel="stylesheet" href="{{ STATIC_URL }}manageprogram/add_program_component_style.css">
    <link rel="stylesheet" href="{{ STATIC_URL }}invoice/invoices_component_style.css">
    <link rel="stylesheet" href="{{ STATIC_URL }}funding/fundings_component_style.css">
    <link rel="stylesheet" href="{{ STATIC_URL }}child/style.css">
    <link rel="stylesheet" href="{{ STATIC_URL }}enrollment/style.css">

    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.37/css/bootstrap-datetimepicker.min.css"/>
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">

    <!-- JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.15.1/moment.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>

    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular-animate.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular-sanitize.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular-route.js"></script>

    <script src="//angular-ui.github.io/bootstrap/ui-bootstrap-tpls-2.2.0.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.37/js/bootstrap-datetimepicker.min.js"></script>
    <script src="https://cdn.dwolla.com/1/dwolla.min.js"></script>


    <!-- Invoice Related JS -->
    <script src="{{ STATIC_URL }}invoice/invoices_component_ctrl.js"></script>

    <!-- Funding Related JS -->
    <script src="{{ STATIC_URL }}funding/fundings_component_ctrl.js"></script>
    <script src="{{ STATIC_URL }}funding/add_funding_iav_component_ctrl.js"></script>
    <script src="{{ STATIC_URL }}funding/make_payment_component_ctrl.js"></script>

    <!-- Profile Related JS -->
    <script src="{{ STATIC_URL }}parent/profile_component_ctrl.js"></script>

    <!-- Payment Related JS -->
    <script src="{{ STATIC_URL }}home/payment_component_ctrl.js"></script>
    <script src="{{ STATIC_URL }}payments/payments_component_ctrl.js"></script>


    <!-- Child Related JS -->
    <script src="{{ STATIC_URL }}child/child-list-parent-view.component.js"></script>
    <script src="{{ STATIC_URL }}child/child-card-parent-view.component.js"></script>

    <!-- Referral Related JS-->
    <script src="{{ STATIC_URL }}parent/referral_component_ctrl.js"></script>

    <!-- Enrollment Related JS-->
    <script src="{{ STATIC_URL}}enrollment/enrollment-list-parent-view.component.js"></script>
    <script src="{{ STATIC_URL}}enrollment/enrollment-parent-view.component.js"></script>
    <!-- Dashboard Related JS -->
    <script src="{{ STATIC_URL }}parent/init_setup_component_ctrl.js"></script>
    <script src="{{ STATIC_URL }}parent/autopay_setup_form_component_ctrl.js"></script>
    <script src="{{ STATIC_URL }}parent/payment_setup_component_ctrl.js"></script>
    <script src="{{ STATIC_URL }}parent/parent_app.js"></script>

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

    <script src="{{ STATIC_URL }}home/script.js"></script>

    <!-- Start of joobali Zendesk Widget script -->
    <script>
        window.zESettings = {
         authenticate: { jwt: '{{ zendesk_token }}'  }
        };

        /*<![CDATA[*/window.zEmbed||function(e,t){var n,o,d,i,s,a=[],r=document.createElement("iframe");window.zEmbed=function(){a.push(arguments)},window.zE=window.zE||window.zEmbed,r.src="javascript:false",r.title="",r.role="presentation",(r.frameElement||r).style.cssText="display: none",d=document.getElementsByTagName("script"),d=d[d.length-1],d.parentNode.insertBefore(r,d),i=r.contentWindow,s=i.document;try{o=s}catch(e){n=document.domain,r.src='javascript:var d=document.open();d.domain="'+n+'";void(0);',o=s}o.open()._l=function(){var e=this.createElement("script");n&&(this.domain=n),e.id="js-iframe-async",e.src="https://assets.zendesk.com/embeddable_framework/main.js",this.t=+new Date,this.zendeskHost="joobali.zendesk.com",this.zEQueue=a,this.body.appendChild(e)},o.write('<body onload="document._l();">'),o.close()}();
        /*]]>*/

      zE(function() {
        zE.identify({
          name: '{{name}}',
          email: '{{ email }}'
        });
      });

    </script>
    <!-- End of joobali Zendesk Widget script -->

</head>
<body ng-app="parentApp" ng-controller="ParentCtrl as parentCtrl">
		
<nav class="navbar navbar-default navbar-fixed-top">
    <div class="navbar-container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="logoLink" href="#"><img src="{{ STATIC_URL }}home/pics/logo/img_navbarLogo.png" class="navbarHeaderLogo" alt="Logo" width="98" height="36"></a>
        </div>

        <div class="collapse navbar-collapse" id="myNavbar">
            <ul class="nav navbar-nav navbar-right">
                {% if loggedIn %}
                <!--<li class="dropdown"><a href=""><i class="fa fa-bell-o fa-2x"></i></a></li>-->
                <!-- <li class="dropdown"><a href=""><i class="fa fa-bell-o fa-2x"></i></a></li> -->
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown">
                        {{ email }}
                        <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu">
                        <li ng-click="changeView('/profile')"><a href="#!/profile">Profile</a></li>
                        <li ng-click="openReferralComponentModal()" data-toggle="modal" data-target="#referralModal"><a
                                class="menu_links">Refer</a></li>
                        <li><a href="/login/logout"><span class="glyphicon glyphicon-log-out"></span>Log Out</a></li>
                    </ul>
                </li>

                {% else %}
                <li><a href="/login"><span class="glyphicon glyphicon-log-in"></span>Log In</a></li>
                <li><a href="/login/signup"><span class="glyphicon glyphicon-user"></span>Sign Up</a></li>
                {% endif %}
            </ul>
        </div>

    </div>
</nav>
<div id="wrapper">

    {% verbatim %}
    <div class="nav-side-menu">
        <div class="brand">Joobali</div>

        <div class="menu-list">

            <ul id="menu-content" class="menu-content collapse out">
                <!--<li ng-click="changeView('#')" ng-class="{active: module=='#'}">-->
                    <!--<a href="#">-->
                        <!--<i class="fa fa-home fa-lg"></i> Joobali-->
                    <!--</a>-->
                <!--</li>-->

                <li data-target="#children" ng-click="changeView('/child/list')"
                    ng-class="{active: module=='/child/list'}">
                    <a ng-click="changeView('/child/list')"><i class="fa fa-child fa-2x"></i> &nbsp; Children </a>
                </li>

                <li ng-click="changeView('/due')" ng-class="{active: module=='/due'}">
                    <a href="#!/due">
                        <i class="fa fa-paper-plane-o fa-2x"></i> &nbsp; Invoices
                    </a>
                </li>
                <li ng-click="changeView('/payments')" ng-class="{active: module=='/payments'}">
                    <a href="#!/payments">
                        <i class="fa fa-money fa-2x"></i> &nbsp; Payments
                    </a>
                </li>
                <li ng-click="changeView('/funding')" ng-class="{active: module=='/funding'}">
                    <a href="#!/funding">
                        <i class="fa fa-university fa-2x"></i> &nbsp; Funds
                    </a>
                </li>


                <li ng-click="changeView('/profile')" ng-class="{active: module=='/profile'}">
                    <a href="#!/profile">
                        <i class="fa fa-user fa-2x"></i> &nbsp; Profile
                    </a>
                </li>
                <li >
                    <a ng-href="/login/?zendesk=1" target="_blank">
                        <i class="fa fa-life-ring fa-2x"></i> &nbsp; Help Center
                    </a>
                </li>

            </ul>
        </div>
    </div>
    <!-- /#sidebar-wrapper -->

    <!-- Page Content -->
    <div class="page-content-wrapper">
        <div class="page-content-container">
            <div ng-view></div>

            <!--<a href="#menu-toggle" class="btn btn-default" id="menu-toggle">Toggle Menu</a>-->
        </div>
    </div>
    <!-- /#page-content-wrapper -->
    <init-setup-component></init-setup-component>
    <payment-setup-component></payment-setup-component>
    {% endverbatim %}
</div>
<!-- /#wrapper -->


<!-- Menu Toggle Script -->
<script>
    $("#menu-toggle").click(function(e) {
        e.preventDefault();
        $("#wrapper").toggleClass("toggled");
    });



</script>

</body>
</html>