<div id="addChildModal" class="modal fade" role="dialog">
    <div class="modal-dialog modal-lg">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Add a New Child</h4>
                <div class="stepsDiv">
                    <ul class="nav nav-pills nav-wizard">
                        <li id="navStep1" class="form-nav active"><a href="#">Enter Child Information</a>
                            <div class="nav-arrow"></div>
                        </li>
                        <li id="navStep2" class="form-nav">
                            <div class="nav-wedge"></div>
                            <a href="#">Review</a>
                            <div class="nav-arrow"></div>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="modal-body">
                <div class="col-centered childOverviewForm">
                    <form name="addChildForm" role="form" class="well">
                        <div id="addChildStep1" class="child-form-content active">
                            <div class="form-group">
                                <label class="control-label" for="childFirstName">Child First Name</label>
                                <input type="text" class="form-control" id="childFirstName" required="true"
                                       ng-model="$ctrl.childInfo.first_name">
                            </div>
                            <div class="form-group">
                                <label class="control-label" for="childLastName">Child Last Name</label>
                                <input type="text" class="form-control" id="childLastName" required="true"
                                       ng-model="$ctrl.childInfo.last_name">
                            </div>
                            <div class="form-group">
                                <label class="control-label" for="dateOfBirth">Date of Birth</label>
                                <div class="input-group date">
                                    <input type="text" id="dateOfBirth" required="true" class="form-control"
                                           name="dateOfBirth"
                                           ng-model="$ctrl.childInfo.date_of_birth">
                                    <span class="input-group-addon">
                                        <span class="glyphicon glyphicon-calendar"></span>
                                    </span>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label" for="email">Parent's Email</label>
                                <input name="email" type="email" class="form-control" id="email" required="true"
                                       ng-model="$ctrl.childInfo.email">
                            </div>
                        </div>
                        <div id="addChildStep2" class="child-form-content">
                            <div class="form-group">
                                <label class="control-label">Child First Name</label>
                                <div>{{$ctrl.childOverview.first_name}}</div>
                                <label class="control-label">Child Last Name</label>
                                <div>{{$ctrl.childOverview.last_name}}</div>
                                <label class="control-label">Parent's Email</label>
                                <div>{{$ctrl.childOverview.email}}</div>
                                <label class="control-label">Parent's Email</label>
                                <div>{{$ctrl.childOverview.date_of_birth}}</div>
                            </div>
                        </div>
                    </form>

                </div>

            </div>
            <div class="modal-footer">
                <button id="addChildNextButton" type="button" class="btn btn-default" ng-click="$ctrl.handleNext()">Next
                </button>
                <button id="addChildSaveButton" type="button" class="btn btn-primary" ng-click="$ctrl.handleSave()">Save
                </button>
                <button id="addChildDoneButton" type="button" class="btn btn-primary" ng-click="$ctrl.handleDone()">Done
                </button>
            </div>
        </div>
    </div>
</div>