@media (min-width: 768px) {
.login-form{
    max-width:440px;
}
.col-centered {
    float: none;
    margin: 0 auto;
}
.logo {
    padding: 50, 50, 10, 50;
}
}

@media (min-width: 992px) {
.login-form{
    max-width:500px;
}
}

@media (min-width: 1200px) {
.login-form{
    max-width:580px;
}}