<div>
    {% verbatim %}
    <div class="col-centered programOverviewForm">
        <form id="programForm" role="form" class="well">
            <h2>Edit Program:</h2>
            <div class="">
                <div class="form-group">
                    <label class="control-label" for="programName">Program Name:</label>
                    <input type="text" class="form-control" id="programName" name="programName" required="true"
                           ng-model="program.programName">
                </div>
                <div class="form-group">
                    <label class="control-label" for="startDate">Start Date:</label>
                    <div class="input-group date">
                        <input type="text" id="startDate" required="true" class="form-control" name="startDate"
                               ng-model="program.startDate">
                        <span class="input-group-addon">
                            <span class="glyphicon glyphicon-calendar"></span>
                        </span>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label" for="endDate">End Date:</label>
                    <div class="input-group date">
                        <input type="text" id="endDate" required="true" class="form-control" name="endDate"
                               ng-model="program.endDate">
                        <span class="input-group-addon">
                            <span class="glyphicon glyphicon-calendar"></span>
                        </span>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label" for="maxCapacity" data-toggle="tooltip"
                           title="The maximum capacity of students for the program.">Maximum Capacity:</label>
                    <input type="number" min="0" class="form-control" id="maxCapacity" name="maxCapacity"
                           required="true" ng-model="program.maxCapacity">
                </div>
                <div class="form-group">
                    <label class="control-label" for="registrationFee">Registration Fee:</label>
                    <div class="input-group">
                        <span class="input-group-addon">$</span>
                        <input type="number" min="0" step="0.01" class="form-control" id="registrationFee"
                               name="registrationFee" required="true" ng-model="program.registrationFee">
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label" for="fee">Fee:</label>
                    <div class="input-group">
                        <span class="input-group-addon">$</span>
                        <input type="number" min="0" step="0.01" class="form-control" id="fee" name="fee"
                               required="true" ng-model="program.fee">
                        <span class="input-group-addon">
                      <label class="radio-inline"><input type="radio" name="feeType" ng-model="program.feeType"
                                                         value="Hourly" checked="checked">Hourly</label>
                      <label class="radio-inline"><input type="radio" name="feeType" ng-model="program.feeType"
                                                         value="Tuition">Tuition</label>
                    </span>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label" for="lateFee">Late Fee:</label>
                    <div class="input-group">
                        <span class="input-group-addon">$</span>
                        <input type="number" min="0" step="0.01" class="form-control" id="lateFee" name="lateFee"
                               required="true" ng-model="program.lateFee">
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label" for="dueDate">Due Date:</label>
                    <div class="input-group date">
                        <input type="text" id="dueDate" required="true" class="form-control" name="dueDate"
                               ng-model="program.dueDate">
                        <span class="input-group-addon">
                            <span class="glyphicon glyphicon-calendar"></span>
                        </span>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label" for="registrationFee">Billing Frequency:</label>
                    <label class="radio-inline"><input type="radio" name="billingFrequency" value="Weekly"
                                                       ng-model="program.billingFrequency">Weekly</label>
                    <label class="radio-inline"><input type="radio" name="billingFrequency" value="Monthly"
                                                       ng-model="program.billingFrequency" checked>Monthly</label>
                </div>
            </div>
            <div class="buttonDiv">
                <button type="button" class="saveProgramButton btn btn-primary btn-lg"
                        ng-click="editProgramCtrl.saveProgram()">Save
                </button>
            </div>

        </form>

        <div class="buttonDiv">
            <button type="button" class="deleteButton btn btn-danger btn-lg"
                    ng-click="editProgramCtrl.deleteProgram()">Delete This Program
            </button>
        </div>
    </div>
    {% endverbatim %}
</div>