.programCard {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.1s;
    width: 500px;
    height: 460px;
    margin: 30px;
}

.programCard:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    cursor: pointer;
}

.container {
    width: inherit;
    height: 140px;
    padding: 10px 20px;
}

.programText {
    font-size: 26px;
}

.row {
    height: 33%;
}
