<!-- Modal content-->
<div class="modal-content">
  <div class="modal-header">
    <button type="button"  ng-click="$ctrl.cancel()">&times;</button>
    <h4 class="modal-title">Let's begin:</h4>
    <div class="stepsDiv">
      <ul class="nav nav-pills nav-wizard">
        <li id="navStep1" class="init-setup form-nav current active" ng-click='$ctrl.setCurrent($event)'><a href="#" >Link Bank Account</a><div class="nav-arrow"></div></li>
        <li id="navStep2" class="init-setup form-nav" ng-click='$ctrl.setCurrent($event)'><div class="nav-wedge"></div><a href="#" >Get Ready</a><div class="nav-arrow"></div></li>
      </ul>
    </div>
  </div>
  <div class="modal-body">
    <div class="col-centered">
      <div id="step1" class="init-setup form-content current">
                    <span class="pageInstructions"><i class="fa fa-caret-up fa-3"></i> &nbsp; The ability to link your bank account is a key benefit of Joobali. Here's where you'll securely add your account so that you can begin accepting payments online.</span>
        <div id="initSetupIavContainer"></div>
      </div>
      <div id="step2" class="init-setup form-content">
        <div style="margin-left:20px">
            <h2>Joobali in 3 easy steps</h2>

            <div ng-show="$ctrl.dwollaStatus == 'verified'">
                1. Add your bank account in the <a href="#!/billing">funds tab</a> and verify you're you in the verification tab <i ng-show="$ctrl.fundings.length > 0" class="fa fa-check fa-2x"></i>
            </div>
            <div ng-show="$ctrl.dwollaStatus != 'verified'">
                1. Add your bank account in the <a href="#!/billing">funds tab</a> and <a href="#!/verification">verify</a> you're you in the verification tab
            </div>
            <br>
            <div>
                2. Add a <a href="#!/programs">program</a> (or two or three) <i ng-show="$ctrl.programs.length > 0" class="fa fa-check fa-2x"></i>
            </div>
            <br>
            <div>
                3. <a href="#!/child/list">Enroll</a> children to your programs <i ng-show="$ctrl.numberOfChildren > 0" class="fa fa-check fa-2x"></i>
            </div>

        </div>
      </div>
    </div>
    </div>
    <div class="modal-footer">
      <button id="initSetupSkipButton" type="button" class="btn btn-default" ng-click="$ctrl.handleNext(true)">Skip</button>
      <button id="initSetupNextButton" type="button" class="btn btn-default" ng-click="$ctrl.handleNext()">Next</button>
      <button id="initSetupDoneButton" ng-show="$ctrl.isDone" type="button" class="btn btn-default" ng-click="$ctrl.handleDone()">Done</button>
    </div>
  </div>