<!-- Modal content-->
<div class="modal-content">
  <div class="modal-header">
		<a type="button" ng-click="$ctrl.cancel()" class="pull-right"><i class="fa fa-close fa-lg"></i></a>
    <!-- <button type="button"  ng-click="$ctrl.cancel()">&times;</button> -->
    <h4 class="modal-title">Let's begin:</h4>
    <div class="stepsDiv">
      <ul class="nav nav-pills nav-wizard">
        <li id="navStep1" class="init-setup form-nav current active" ng-click='$ctrl.setCurrent($event)'><a href="#" >Link Bank Account</a><div class="nav-arrow"></div></li>
        <li id="navStep2" class="init-setup form-nav" ng-click='$ctrl.setCurrent($event)'><div class="nav-wedge"></div><a href="#" >Get Ready</a><div class="nav-arrow"></div></li>
      </ul>
    </div>
  </div>
  <div class="modal-body">
    <div class="col-centered">
      <div id="step1" class="init-setup form-content current">
                    <span class="pageInstructions"><i class="fa fa-caret-up fa-3"></i> &nbsp; The ability to link your bank account is a key benefit of Joobali. Here's where you'll securely add your account so that you can begin accepting payments online.</span>
        <div id="initSetupIavContainer"></div>
      </div>
      <div id="step2" class="init-setup form-content">

						<div class="multiStepDash">
				    <ul>
							<li class="step"><span class="indicatorWrap" ng-class="{'indicatorFill': $ctrl.fundings.length > 0}">&nbsp;</span> 
								<i class="fa fa-institution fa-3x"></i>
								<h4><a href="#!/billing" ng-click="$ctrl.cancel()">Add Your Bank Account</a></h4><!-- <sup><i class="fa fa-question-circle-o fa-2x"></i></sup> -->
								<!-- <div class="description" ng-click="isPageInstructionsOpen = !isPageInstructionsOpen" ng-hide="isPageInstructionsOpen" id="pageInstructions"><i class="fa fa-caret-up fa-2x"></i> &nbsp;You will receive money from parents directly to this account. You may only need your bank login information; however, it wouldn’t hurt to have your account # and/or routing # available.</div> -->
							</li>
							<li class="step"><span class="indicatorWrap" ng-class="{'indicatorFill': $ctrl.dwollaStatus == 'verified'}">&nbsp;</span>
								<i class="fa fa-check-circle-o fa-3x"></i>
								<h4 ng-show="$ctrl.dwollaStatus == 'verified'">Account Verified</h4><!-- <sup><i class="fa fa-question-circle-o fa-2x"></i></sup> -->
								<h4 ng-show="$ctrl.dwollaStatus != 'verified'"><a href="#!/verification" ng-click="$ctrl.cancel()">Verfy Your Account</a></h4><!-- <sup><i class="fa fa-question-circle-o fa-2x"></i></sup> -->
							</li>
							<li class="step"><span class="indicatorWrap" ng-class="{'indicatorFill': $ctrl.programs.length > 0}">&nbsp;</span> 
								<i class="fa fa-list-alt fa-3x"></i> 
								<h4><a href="#!/programs" ng-click="$ctrl.cancel()">Add a Program</a></h4><!-- <sup><i class="fa fa-question-circle-o fa-2x"></i></sup> -->
							</li>
							<li class="step"><span class="indicatorWrap" ng-class="{'indicatorFill': $ctrl.numberOfChildren > 0}">&nbsp;</span> 
								<i class="fa fa-child fa-3x"></i>
								<h4><a href="#!/child/list" ng-click="$ctrl.cancel()">Enroll a Child</a></h4><!-- <sup><i class="fa fa-question-circle-o fa-2x"></i></sup> -->
							</li>
						</ul>
					</div>
	
      </div>
			
			
			
			
    </div>
    </div>
    <div class="modal-footer">
      <button id="initSetupSkipButton" type="button" class="btn btn-default" ng-click="$ctrl.handleNext(true)">Skip</button>
      <button id="initSetupNextButton" type="button" class="btn btn-default" ng-click="$ctrl.handleNext()">Next</button>
      <button id="initSetupDoneButton" ng-show="$ctrl.isDone" type="button" class="btn btn-default" ng-click="$ctrl.handleDone()">Done</button>
    </div>
  </div>