<div class="programHeader" ng-click="isPageInstructionsOpen = !isPageInstructionsOpen"><b>Invoices</b> <sup><i class="fa fa-question-circle fa-lg"></i></sup></div>
	<span class="pageInstructions" ng-show="isPageInstructionsOpen" id="pageInstructions"><i class="fa fa-caret-up fa-3"></i> &nbsp; An invoice is a customizable one-time charge for a specific child.</span>
<div class="programsContainer">
	<div class="programsDiv">
		<div class="well well-sm">

			<div class="full">
				<div ng-show="$ctrl.dwollaStatus!='verified' && $ctrl.fundingSources>0">
					You'll need to <a href="#!/verification">verify your account</a> before you can create invoices.
				</div>
				<div ng-show="$ctrl.fundingSources==0">
					You'll need to <a href="#!/billing">add a bank acount</a> before you can create invoices.
				</div>
			</div>
			
			<div class="InvoiceTableButtonDiv">
				<button type="button" ng-disabled="$ctrl.dwollaStatus!='verified' || $ctrl.fundingSources==0" class="btn btn-default btn-lg pull-left programHeader joobali" style="margin-right:5px" ng-click="$ctrl.openAddInvoiceModal()">
					<i class="fa fa-plus fa-1x"></i>&nbsp; &nbsp;Create an invoice
				</button>
			</div>

			<div class="btn-group">
				<a class="btn btn-default btn-sm joobali" ng-click="$ctrl.openInvoiceSettingsModal()">
					<i class="fa fa-cog fa-lg"></i>&nbsp; Invoice Settings
				</a>
			</div>
			
			<invoices-component invoices="$ctrl.invoices" is-provider="true"></invoices-component>
		</div>
	</div>
</div>
