<div class="programHeader" ng-click="isPageInstructionsOpen = !isPageInstructionsOpen"><b>Invoices</b> <sup><i class="fa fa-question-circle fa-lg"></i></sup></div>
	<span class="pageInstructions" ng-show="isPageInstructionsOpen" id="pageInstructions"><i class="fa fa-caret-up fa-3"></i> &nbsp; An invoice is a customizable one-time charge for a specific child.</span>
<div class="programsContainer">
	<div class="programsDiv">
		<div class="well well-sm">
			<div class="InvoiceTableButtonDiv"><a class="btn btn-default btn-lg pull-left programHeader joobali" ng-click="$ctrl.openAddInvoiceModal()"><i class="fa fa-plus fa-1x"></i>&nbsp; &nbsp;Create an invoice</a></div>
			
			<!-- <div class="InvoiceTableButtonDiv"><a class="btn btn-default btn-lg pull-right programHeader joobali" ng-click="$ctrl.openInvoiceSettingsModal()"><i class="fa fa-cog fa-lg"></i></a></div> -->
			
			<div class="btn-group"><a class="btn btn-default btn-sm joobali" ng-click="$ctrl.openInvoiceSettingsModal()"><i class="fa fa-cog fa-lg"></i>&nbsp; Invoice Settings</a></div>
			
      <!-- <div class="btn-group">
				<a id="grid" class="btn btn-default btn-sm joobali"><span class="glyphicon glyphicon-th"></span>Grid</a>
      	<a id="list" class="btn btn-default btn-sm joobali"><span class="glyphicon glyphicon-th-list"></span>List</a>
      </div> -->
			
			
			<invoices-component invoices="$ctrl.invoices" is-provider="true"></invoices-component>
		</div>
	</div>
</div>
