<div class="programHeader" ng-click="isPageInstructionsOpen = !isPageInstructionsOpen"><b>Programs</b> <sup><i class="fa fa-question-circle fa-lg"></i></sup></div>

<div class="programsContainer">	
    <div class="programsDiv">
			<span class="programsHelp pageInstructions" ng-click="isPageInstructionsOpen = !isPageInstructionsOpen" ng-hide="isPageInstructionsOpen" id="pageInstructions"><i class="fa fa-caret-up fa-3"></i> &nbsp; A program is a set dollar amount to bill parents on a weekly or monthly basis.</span>
				<span class="programsHelp pageInstructions" ng-click="isPageInstructionsOpen = !isPageInstructionsOpen" ng-hide="isPageInstructionsOpen" id="pageInstructions">Some common program names include <i>Full-time</i>, <i>Part-time</i>, and <i>Extended care</i>. You can have an unlimited number of programs.</span>
				<span class="programsHelp pageInstructions" ng-click="isPageInstructionsOpen = !isPageInstructionsOpen" ng-hide="isPageInstructionsOpen" id="pageInstructions">You can add multiple programs to a child. For example, a parent may be billed for both the <i>Full-time</i> and <i>Extended care</i> programs on one invoice. <!-- Think of programs as a line-item on an invoice. --></span>
				
		  <div class="well well-sm">
			    <div class="buttonDiv addChildButtonDiv pull-left">
			        <a class="btn btn-default btn-lg pull-right programHeader joobali" data-toggle="modal" data-target="#addProgramModal"><i class="fa fa-plus fa-1x"></i>&nbsp; &nbsp;Add a program</a>

			    </div>

			  		      <div class="programs-filter-options  pull-right hidden-xs">
						<a id="grid" class="btn btn-default btn-sm joobali"><span class="glyphicon glyphicon-th"></span>Grid</a>
		      	<a id="list" class="btn btn-default btn-sm joobali"><span class="glyphicon glyphicon-th-list"></span>List</a>
		      </div>

			  <div class="programs-filter-options  pull-left">
					<select class="form-control"
							ng-init="selectedProgramFilter = programFilters[1]"
							ng-options="o as o for o in programFilters"
							ng-model="selectedProgramFilter"
							ng-change="updateProgramsFilter()">
					</select>
				</div>



		  </div>
			
			<div class="listHeaders">
				<table>
				  <tr>
						<th>&nbsp;</th>
				    <th>Rate</th>
				    <th>Frequency</th>
				    <th>Start Date</th>
				    <th>End Date</th>
				    <th>Reg Fee</th>
				    <th>Late Fee</th>
				  </tr>
				</table>				
			</div>
			
				<ol>
        	<program-component data-ng-repeat="program in programs" program="program"></program-component>
				</ol>
    </div>
    <!--<div class="buttonDiv">-->
        <!--<a class="pull-right programHeader" data-toggle="modal" data-target="#addProgramModal">ADD A-->
            <!--PROGRAM &nbsp;<i class="fa fa-plus-circle fa-lg"></i></a>-->
    <!--</div>-->

    <add-program-component></add-program-component>
</div>


<script type="text/javascript">
// js for grid/list view
	$('#list').click(function(event){
		event.preventDefault();
		$('.programs.item').addClass('list-group-item');
		$('.ng-scope.ng-isolate-scope').addClass('listDisplay');
		$('.programs.item').removeClass('grid-group-item');
		// $('.fa.fa-pencil').switchClass("fa-lg", "fa-2x", 1000, "easeInOutQuad");
		console.log("list");
		$('.programsDiv').css('display', 'block');
		$('.main').addClass('new-main');
		$('.theData').addClass('list');
		$('.programTable.list').show();
		$('.programTable.grid').hide();
		// $('.description').addClass('list');
		// $('.row .title').hide();
		$('.listHeaders').show();
    // $('.fa-pencil').removeClass('fa-lg').addClass('fa-2x');
	});

	$('#grid').click(function(event){
		event.preventDefault();
		$('.programs.item').removeClass('list-group-item');
		$('.ng-scope.ng-isolate-scope').removeClass('listDisplay');
		$('.programs.item').addClass('grid-group-item');
		// $('.fa.fa-pencil').switchClass("fa-2x", "fa-lg", 1000, "easeInOutQuad");
		console.log("grid");
		$('.programsDiv').css('display', 'flex');
		$('.main').removeClass('new-main');
		$('.theData').removeClass('list');
		$('.programTable.list').hide();
		$('.programTable.grid').show();
		// $('.description').removeClass('list');
		// $('.row .title').show();
		$('.listHeaders').hide();
    // $('.fa-pencil').removeClass('fa-2x').addClass('fa-lg');
	});
</script>